/****** Object:  Schema [bi]    Script Date: 4/3/2026 11:54:31 ******/
CREATE SCHEMA [bi]
GO
/****** Object:  Table [bi].[fact_carga_camion_dia]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_carga_camion_dia](
	[snapshot_dt] [datetime2](0) NOT NULL,
	[fecha_operativa] [date] NOT NULL,
	[fecha] [date] NOT NULL,
	[camion_id] [int] NOT NULL,
	[matricula] [varchar](50) NOT NULL,
	[uls] [int] NOT NULL,
	[cantidad_destinos] [int] NOT NULL,
	[inicio_carga] [datetime2](0) NULL,
	[fin_carga] [datetime2](0) NULL,
	[duracion_carga_min] [int] NULL,
	[fin_preparacion] [datetime2](0) NULL,
	[uls_sin_fin_prep] [int] NOT NULL,
	[uls_sin_volumen] [int] NOT NULL,
	[uls_overfill] [int] NOT NULL,
	[ocupacion_contenedores] [decimal](9, 4) NULL,
 CONSTRAINT [PK_fact_carga_camion_dia] PRIMARY KEY CLUSTERED 
(
	[fecha] ASC,
	[camion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_fulfillment_line_day]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_fulfillment_line_day](
	[date_key] [int] NOT NULL,
	[centro_codigo] [varchar](50) NOT NULL,
	[centro_nombre] [varchar](200) NULL,
	[codigo_pedido] [varchar](100) NOT NULL,
	[id_pedido] [int] NULL,
	[referencia] [varchar](200) NULL,
	[tipo_pedido] [int] NULL,
	[id_articulo] [int] NOT NULL,
	[sku] [varchar](100) NULL,
	[articulo_desc] [varchar](300) NULL,
	[formato] [varchar](50) NOT NULL,
	[qty_solicitada] [decimal](18, 4) NOT NULL,
	[qty_expedida] [decimal](18, 4) NOT NULL,
	[shortage_qty]  AS (case when [qty_solicitada]>[qty_expedida] then [qty_solicitada]-[qty_expedida] else CONVERT([decimal](18,4),(0)) end) PERSISTED,
	[avisos_count] [int] NOT NULL,
	[aviso_ejemplo] [varchar](100) NULL,
	[refreshed_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_fulfillment_line_day] PRIMARY KEY CLUSTERED 
(
	[date_key] ASC,
	[centro_codigo] ASC,
	[codigo_pedido] ASC,
	[id_articulo] ASC,
	[formato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_operacion_evento]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_operacion_evento](
	[evento_id] [bigint] IDENTITY(1,1) NOT NULL,
	[operacion] [varchar](30) NOT NULL,
	[entidad_evento] [varchar](30) NOT NULL,
	[entidad_id] [bigint] NOT NULL,
	[evento_dt] [datetime2](0) NOT NULL,
	[fecha_operativa] [date] NOT NULL,
	[inicio_dt] [datetime2](0) NULL,
	[fin_dt] [datetime2](0) NULL,
	[usuario_id] [bigint] NULL,
	[legajo] [varchar](50) NULL,
	[operario] [varchar](200) NULL,
	[cantidad] [decimal](18, 4) NOT NULL,
	[uom_id] [bigint] NULL,
	[uom_text] [varchar](50) NULL,
	[articulo_id] [bigint] NULL,
	[sku] [varchar](80) NULL,
	[articulo_desc] [varchar](200) NULL,
	[ubic_origen_id] [bigint] NULL,
	[ubic_destino_id] [bigint] NULL,
	[sector_id] [bigint] NULL,
	[sector_desc] [varchar](120) NULL,
	[pedido_id] [bigint] NULL,
	[despacho_id] [bigint] NULL,
	[linea_id] [bigint] NULL,
	[operacion_rf_id] [bigint] NULL,
	[agrupacion_id] [bigint] NULL,
	[movimientos] [int] NOT NULL,
	[lineas] [int] NOT NULL,
	[loaded_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[evento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_fact_operacion_evento] UNIQUE NONCLUSTERED 
(
	[operacion] ASC,
	[entidad_evento] ASC,
	[entidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_operation_metric]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_operation_metric](
	[task_sk] [bigint] NOT NULL,
	[metric_id] [smallint] NOT NULL,
	[metric_value] [decimal](18, 4) NOT NULL,
	[uom] [varchar](20) NULL,
	[loaded_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_operation_metric] PRIMARY KEY CLUSTERED 
(
	[task_sk] ASC,
	[metric_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_operation_task]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_operation_task](
	[task_sk] [bigint] IDENTITY(1,1) NOT NULL,
	[task_id_source] [varchar](64) NOT NULL,
	[operation_type_id] [tinyint] NOT NULL,
	[user_id_source] [varchar](64) NOT NULL,
	[site_id_source] [varchar](64) NULL,
	[zone_id_source] [varchar](64) NULL,
	[work_unit_id] [varchar](64) NULL,
	[wave_id] [varchar](64) NULL,
	[start_ts] [datetime2](0) NULL,
	[end_ts] [datetime2](0) NOT NULL,
	[duration_sec] [int] NULL,
	[status_code] [varchar](20) NOT NULL,
	[date_key] [int] NULL,
	[shift_code] [varchar](20) NULL,
	[source_system] [varchar](30) NULL,
	[loaded_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_operation_task] PRIMARY KEY CLUSTERED 
(
	[task_sk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_fact_operation_task__task] UNIQUE NONCLUSTERED 
(
	[task_id_source] ASC,
	[operation_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_receipt_item_day]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_receipt_item_day](
	[date_key] [int] NOT NULL,
	[id_orden_entrada] [int] NOT NULL,
	[id_oc_item] [int] NOT NULL,
	[unidades_recibidas] [decimal](18, 4) NOT NULL,
	[refreshed_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_fact_receipt_item_day] PRIMARY KEY CLUSTERED 
(
	[date_key] ASC,
	[id_orden_entrada] ASC,
	[id_oc_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_recepcion_sku]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_recepcion_sku](
	[recep_sku_id] [bigint] IDENTITY(1,1) NOT NULL,
	[recepcion_id] [bigint] NOT NULL,
	[articulo_id] [bigint] NOT NULL,
	[oc_id] [bigint] NULL,
	[orden_compra] [varchar](50) NULL,
	[proveedor_id] [bigint] NULL,
	[proveedor] [varchar](200) NULL,
	[mercaderia_id] [bigint] NULL,
	[camion_id] [bigint] NULL,
	[descarga_id] [bigint] NULL,
	[mision_id] [bigint] NULL,
	[fechah_recepcion_dt] [datetime2](0) NOT NULL,
	[fecha_operativa] [date] NOT NULL,
	[sku] [varchar](80) NULL,
	[articulo_desc] [varchar](200) NULL,
	[cantidad_unidades] [decimal](18, 4) NULL,
	[cantidad_cajas] [decimal](18, 4) NULL,
	[pallets] [int] NULL,
	[inicio_dt] [datetime2](0) NULL,
	[fin_dt] [datetime2](0) NULL,
	[camion_entrada_dt] [datetime2](0) NULL,
	[camion_salida_dt] [datetime2](0) NULL,
	[seccion_desc] [varchar](120) NULL,
	[sector_desc] [varchar](120) NULL,
	[loaded_at] [datetime2](0) NOT NULL,
 CONSTRAINT [pk_fact_recepcion_sku] PRIMARY KEY CLUSTERED 
(
	[recep_sku_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_fact_recepcion_sku] UNIQUE NONCLUSTERED 
(
	[recepcion_id] ASC,
	[articulo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_stock_contenedor_ubic_vigente]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_stock_contenedor_ubic_vigente](
	[snapshot_dt] [datetime2](0) NOT NULL,
	[fecha_operativa] [date] NOT NULL,
	[TipoContenedor] [varchar](200) NULL,
	[TipoContenedorArticulo] [varchar](255) NULL,
	[EsPallet] [bit] NOT NULL,
	[FueraDeAlmacenaje] [bit] NOT NULL,
	[Etiqueta] [varchar](60) NOT NULL,
	[SKU] [varchar](60) NOT NULL,
	[Articulo] [varchar](255) NOT NULL,
	[Formato] [varchar](80) NULL,
	[Unidades_Formato] [int] NULL,
	[Cantidad_Base] [int] NULL,
	[Cantidad_Total_Unidades] [bigint] NULL,
	[Proveedor] [varchar](200) NOT NULL,
	[FechaRecepcion] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[Bloqueo_Contenedor] [bit] NOT NULL,
	[Bloqueo_Ubicacion] [bit] NULL,
	[Ubicacion_Bloqueada] [bit] NOT NULL,
	[Tipo_Ubicacion] [varchar](100) NULL,
	[Seccion] [varchar](100) NULL,
	[Sector] [varchar](100) NULL,
	[TipoCanal] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [bi].[fact_stock_sku_vigente]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bi].[fact_stock_sku_vigente](
	[stock_vigente_id] [bigint] IDENTITY(1,1) NOT NULL,
	[snapshot_dt] [datetime2](0) NOT NULL,
	[fecha_operativa] [date] NOT NULL,
	[articulo_id] [bigint] NOT NULL,
	[sku] [varchar](80) NULL,
	[articulo_desc] [varchar](200) NULL,
	[stock_total_base] [decimal](18, 4) NOT NULL,
	[stock_disponible_base] [decimal](18, 4) NOT NULL,
	[stock_reservado_base] [decimal](18, 4) NOT NULL,
	[stock_bloqueado_base] [decimal](18, 4) NOT NULL,
	[dpd_base_30d] [decimal](18, 6) NULL,
	[dias_stock_disponible] [decimal](18, 6) NULL,
	[last_move_dt] [datetime2](0) NULL,
	[loaded_at] [datetime2](0) NOT NULL,
 CONSTRAINT [pk_fact_stock_sku_vigente] PRIMARY KEY CLUSTERED 
(
	[stock_vigente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [bi].[fact_carga_camion_dia] ADD  CONSTRAINT [DF_fact_carga_camion_dia_snapshot_dt]  DEFAULT (sysdatetime()) FOR [snapshot_dt]
GO
ALTER TABLE [bi].[fact_fulfillment_line_day] ADD  CONSTRAINT [DF_fact_fulfillment_line_day_refreshed_at]  DEFAULT (sysutcdatetime()) FOR [refreshed_at]
GO
ALTER TABLE [bi].[fact_operacion_evento] ADD  DEFAULT ((1)) FOR [movimientos]
GO
ALTER TABLE [bi].[fact_operacion_evento] ADD  DEFAULT ((1)) FOR [lineas]
GO
ALTER TABLE [bi].[fact_operacion_evento] ADD  DEFAULT (sysdatetime()) FOR [loaded_at]
GO
ALTER TABLE [bi].[fact_operation_metric] ADD  CONSTRAINT [DF_fact_operation_metric_loaded_at]  DEFAULT (sysutcdatetime()) FOR [loaded_at]
GO
ALTER TABLE [bi].[fact_operation_task] ADD  CONSTRAINT [DF_fact_operation_task_status]  DEFAULT ('COMPLETED') FOR [status_code]
GO
ALTER TABLE [bi].[fact_operation_task] ADD  CONSTRAINT [DF_fact_operation_task_loaded_at]  DEFAULT (sysutcdatetime()) FOR [loaded_at]
GO
ALTER TABLE [bi].[fact_receipt_item_day] ADD  CONSTRAINT [DF_fact_receipt_item_day_refreshed_at]  DEFAULT (sysutcdatetime()) FOR [refreshed_at]
GO
ALTER TABLE [bi].[fact_recepcion_sku] ADD  CONSTRAINT [df_fact_recepcion_sku_loaded_at]  DEFAULT (sysdatetime()) FOR [loaded_at]
GO
ALTER TABLE [bi].[fact_stock_sku_vigente] ADD  CONSTRAINT [df_fact_stock_sku_vigente_loaded_at]  DEFAULT (sysdatetime()) FOR [loaded_at]
GO
ALTER TABLE [bi].[fact_operation_metric]  WITH CHECK ADD  CONSTRAINT [FK_fact_operation_metric__dim_metric__metric_id] FOREIGN KEY([metric_id])
REFERENCES [bi].[dim_metric] ([metric_id])
GO
ALTER TABLE [bi].[fact_operation_metric] CHECK CONSTRAINT [FK_fact_operation_metric__dim_metric__metric_id]
GO
ALTER TABLE [bi].[fact_operation_metric]  WITH CHECK ADD  CONSTRAINT [FK_fact_operation_metric__fact_operation_task__task_sk] FOREIGN KEY([task_sk])
REFERENCES [bi].[fact_operation_task] ([task_sk])
ON DELETE CASCADE
GO
ALTER TABLE [bi].[fact_operation_metric] CHECK CONSTRAINT [FK_fact_operation_metric__fact_operation_task__task_sk]
GO
ALTER TABLE [bi].[fact_operation_task]  WITH CHECK ADD  CONSTRAINT [FK_fact_operation_task__dim_operation_type__operation_type_id] FOREIGN KEY([operation_type_id])
REFERENCES [bi].[dim_operation_type] ([operation_type_id])
GO
ALTER TABLE [bi].[fact_operation_task] CHECK CONSTRAINT [FK_fact_operation_task__dim_operation_type__operation_type_id]
GO
ALTER TABLE [bi].[fact_fulfillment_line_day]  WITH CHECK ADD  CONSTRAINT [CK_fact_fulfillment_avisos_nonneg] CHECK  (([avisos_count]>=(0)))
GO
ALTER TABLE [bi].[fact_fulfillment_line_day] CHECK CONSTRAINT [CK_fact_fulfillment_avisos_nonneg]
GO
ALTER TABLE [bi].[fact_fulfillment_line_day]  WITH CHECK ADD  CONSTRAINT [CK_fact_fulfillment_qty_nonneg] CHECK  (([qty_solicitada]>=(0) AND [qty_expedida]>=(0)))
GO
ALTER TABLE [bi].[fact_fulfillment_line_day] CHECK CONSTRAINT [CK_fact_fulfillment_qty_nonneg]
GO
ALTER TABLE [bi].[fact_operation_metric]  WITH CHECK ADD  CONSTRAINT [CK_fact_operation_metric__value_nonneg] CHECK  (([metric_value]>=(0)))
GO
ALTER TABLE [bi].[fact_operation_metric] CHECK CONSTRAINT [CK_fact_operation_metric__value_nonneg]
GO
ALTER TABLE [bi].[fact_operation_task]  WITH CHECK ADD  CONSTRAINT [CK_fact_operation_task__duration_nonneg] CHECK  (([duration_sec] IS NULL OR [duration_sec]>=(0)))
GO
ALTER TABLE [bi].[fact_operation_task] CHECK CONSTRAINT [CK_fact_operation_task__duration_nonneg]
GO
ALTER TABLE [bi].[fact_receipt_item_day]  WITH CHECK ADD  CONSTRAINT [CK_fact_receipt_item_day_nonneg] CHECK  (([unidades_recibidas]>=(0)))
GO
ALTER TABLE [bi].[fact_receipt_item_day] CHECK CONSTRAINT [CK_fact_receipt_item_day_nonneg]
GO
/****** Object:  StoredProcedure [bi].[usp_build_oc_item_status]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [bi].[usp_build_oc_item_status]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;

    TRUNCATE TABLE bi.fact_oc_item_status;

    INSERT INTO bi.fact_oc_item_status
    (
        id_oc_item, id_orden_entrada, oc_codigo, id_articulo,
        date_key_inicio, date_key_ultima_rec,
        unidades_ordenadas, unidades_recibidas_total,
        recepciones_dias_count
    )
    SELECT
        o.id_oc_item,
        o.id_orden_entrada,
        o.oc_codigo,
        o.id_articulo,
        o.date_key AS date_key_inicio,

        MAX(r.date_key) AS date_key_ultima_rec,

        o.unidades_ordenadas,
        ISNULL(SUM(r.unidades_recibidas), CONVERT(decimal(18,4),0)) AS unidades_recibidas_total,

        ISNULL(COUNT(DISTINCT r.date_key), 0) AS recepciones_dias_count
    FROM bi.fact_oc_item o
    LEFT JOIN bi.fact_receipt_item_day r
      ON r.id_oc_item = o.id_oc_item
    GROUP BY
        o.id_oc_item, o.id_orden_entrada, o.oc_codigo, o.id_articulo, o.date_key, o.unidades_ordenadas;

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_carga_camion_dia]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [bi].[usp_load_carga_camion_dia]
    @from_dt datetime2(0),
    @to_dt   datetime2(0)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @snapshot_dt     datetime2(0) = SYSDATETIME();
    DECLARE @fecha_operativa date         = CAST(@snapshot_dt AS date);

    DECLARE @from_date date = CAST(@from_dt AS date);
    DECLARE @to_date   date = CAST(@to_dt   AS date);

    DECLARE @rows_deleted  int = 0;
    DECLARE @rows_inserted int = 0;

    BEGIN TRY
        BEGIN TRAN;

        /* Histórico: borro SOLO el rango recalculado */
        DELETE bi.fact_carga_camion_dia
        WHERE fecha >= @from_date
          AND fecha <  @to_date;

        SET @rows_deleted = @@ROWCOUNT;

        ;WITH
        MovPicking AS (
            SELECT a.ID_CONT_DESTINO AS id_contenedor,
                   fin_operacion_dt = MAX(c.FECHAH_FIN)
            FROM TRASPASOS a
            JOIN CONT_DESP_PICK b ON a.ID_AGRUPACION = b.ID
            JOIN OPERACIONES_RF c ON b.ID_RECORRIDO = c.ID
            WHERE a.TIPO_TRASPASO = 0
            GROUP BY a.ID_CONT_DESTINO
        ),
        MovCross AS (
            SELECT a.ID_CONT_DESTINO AS id_contenedor,
                   fin_operacion_dt = MAX(c.FECHAH_FIN)
            FROM TRASPASOS a
            JOIN OPERACIONES_RF c ON a.ID_AGRUPACION = c.ID
            WHERE a.TIPO_TRASPASO = 1
            GROUP BY a.ID_CONT_DESTINO
        ),
        MovExtr AS (
            SELECT z.ID_CONTENEDOR AS id_contenedor,
                   fin_operacion_dt = MAX(d.FECHAH_FIN)
            FROM TRASPASOS a
            JOIN CONT_DESP_COMPL  c  ON a.ID_AGRUPACION = c.ID
            JOIN MOV_EXTRACCION   z  ON c.ID = z.ID_CONT_COMPL
            JOIN OPERACIONES_RF   d  ON z.ID_OPERACION = d.ID
            WHERE a.TIPO_TRASPASO = 2
            GROUP BY z.ID_CONTENEDOR
        ),
        VolumenUls AS (
            SELECT
                ul.ID AS ul_id,
                ocupacion_pct_raw =
                    CASE
                        WHEN tc.VOLUMEN_CM3 IS NULL OR tc.VOLUMEN_CM3 = 0 THEN NULL
                        ELSE
                            (SUM(CAST(acm.NUM_UNIDADES_FORM AS decimal(18,4)) * CAST(fm.VOLUMEN_CM3 AS decimal(18,4))) * 100.0)
                            / CAST(tc.VOLUMEN_CM3 AS decimal(18,4))
                    END
            FROM UL_MAYOR_MERCADER ul
            JOIN ART_CONT_MERCADER acm ON ul.ID = acm.ID_UL_MAYOR
            JOIN FORMATOS fm           ON acm.ID_FORMATO = fm.ID
            JOIN TIPOS_CONTENEDOR tc   ON ul.ID_TIPO_CONTENEDOR = tc.ID
            GROUP BY ul.ID, tc.VOLUMEN_CM3
        ),
        Base AS (
            SELECT
                fecha    = CAST(TRY_CONVERT(datetime2(0), a.FECHA_HORA, 120) AS date),

                camion_id = e.ID,
                e.MATRICULA,

                b.ETIQUETA,
                destino_id = d.ID,

                inicio_carga_dt = i.FECHAH_INICIO,
                fin_carga_dt    = i.FECHAH_FIN,

                fin_preparacion_dt = COALESCE(mp.fin_operacion_dt, mc.fin_operacion_dt, me.fin_operacion_dt),

                ocupacion_pct_raw = vul.ocupacion_pct_raw
            FROM AVISOS_MERCADERIA a
            JOIN UL_MAYOR_MERCADER b ON a.ID = b.ID_MERCADERIA
            JOIN CENTROS d           ON d.ID = a.ID_CENTRO_DESTINO
            JOIN CAMIONES e          ON e.ID = a.ID_CAMION
            JOIN OPERACION_RF_EXPE h ON a.ID_OPERACION = h.ID_EXPEDICION
            JOIN OPERACIONES_RF i    ON i.ID = h.ID

            LEFT JOIN MovPicking mp  ON b.ID_CONTENEDOR = mp.id_contenedor
            LEFT JOIN MovCross   mc  ON b.ID_CONTENEDOR = mc.id_contenedor
            LEFT JOIN MovExtr    me  ON b.ID_CONTENEDOR = me.id_contenedor
            LEFT JOIN VolumenUls vul ON b.ID = vul.ul_id

            WHERE a.TIPO_AV = 1
              AND b.ID_TIPO_CONTENEDOR IS NOT NULL
              AND TRY_CONVERT(datetime2(0), a.FECHA_HORA, 120) IS NOT NULL
              AND TRY_CONVERT(datetime2(0), a.FECHA_HORA, 120) >= @from_dt
              AND TRY_CONVERT(datetime2(0), a.FECHA_HORA, 120) <  @to_dt
        )
        INSERT INTO bi.fact_carga_camion_dia
        (
            snapshot_dt, fecha_operativa,
            fecha, camion_id, matricula,
            uls, cantidad_destinos,
            inicio_carga, fin_carga, duracion_carga_min,
            fin_preparacion,
            uls_sin_fin_prep, uls_sin_volumen, uls_overfill,
            ocupacion_contenedores
        )
        SELECT
            @snapshot_dt,
            @fecha_operativa,

            b.fecha,
            b.camion_id,
            MAX(b.MATRICULA),

            COUNT(DISTINCT b.ETIQUETA),
            COUNT(DISTINCT b.destino_id),

            MIN(b.inicio_carga_dt),
            MAX(b.fin_carga_dt),
            CASE
                WHEN MIN(b.inicio_carga_dt) IS NULL OR MAX(b.fin_carga_dt) IS NULL THEN NULL
                ELSE DATEDIFF(minute, MIN(b.inicio_carga_dt), MAX(b.fin_carga_dt))
            END,

            MAX(b.fin_preparacion_dt),

            SUM(CASE WHEN b.fin_preparacion_dt IS NULL THEN 1 ELSE 0 END),
            SUM(CASE WHEN b.ocupacion_pct_raw IS NULL THEN 1 ELSE 0 END),
            SUM(CASE WHEN b.ocupacion_pct_raw > 100 THEN 1 ELSE 0 END),

            AVG(CASE
                    WHEN b.ocupacion_pct_raw IS NULL THEN NULL
                    WHEN b.ocupacion_pct_raw < 0 THEN 0
                    WHEN b.ocupacion_pct_raw > 100 THEN 100
                    ELSE b.ocupacion_pct_raw
                END)
        FROM Base b
        GROUP BY b.fecha, b.camion_id;

        SET @rows_inserted = @@ROWCOUNT;

        COMMIT;

        SELECT filas_borradas = @rows_deleted,
               filas_insertadas = @rows_inserted;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [bi].[usp_load_fact_operacion_evento_almacenaje]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =====================================================================================
   SP: bi.usp_load_fact_operacion_evento_almacenaje
   Operación: ALMACENAJE
   Evento: MOV_ALMACENAJE

   Fuente:
   - OPERACIONES_RF a
   - MOV_ALMACENAJE b (a.ID = b.ID_OPERACION)
   - USUARIOS c (a.ID_USUARIO = c.ID)
   - Contenido de contenedor:
       UL_MAYOR_MERCADER d + ART_CONT_MERCADER e (+ ARTICULOS art)
     Nota: hay pallets multiartículo. Para evitar duplicar filas por MOV_ALMACENAJE:
       - Si el contenedor tiene 1 artículo => se guarda ese artículo
       - Si tiene >1 => articulo_id NULL, sku/articulo_desc = 'MULTIARTICULO'

   Grano:
   - 1 fila BI = 1 MOV_ALMACENAJE (b.ID)

   Idempotencia:
   - (operacion, entidad_evento, entidad_id)

   Ventana temporal:
   - evento_dt = OPERACIONES_RF.FECHAH_FIN
   - filtro: [@from_date, @to_date) rango semiabierto

   Métrica:
   - cantidad = 1 (evento de almacenaje / pallet)
   ===================================================================================== */
CREATE   PROCEDURE [bi].[usp_load_fact_operacion_evento_almacenaje]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH cont AS (
        /* 1 fila por contenedor: detecta si es monoartículo o multiartículo */
        SELECT
            d.ID_CONTENEDOR,
            cnt_articulos = COUNT(DISTINCT e.ID_ARTICULO),
            articulo_id_unico = MIN(e.ID_ARTICULO)
        FROM UL_MAYOR_MERCADER d
        JOIN ART_CONT_MERCADER e ON d.ID = e.ID_UL_MAYOR
        GROUP BY d.ID_CONTENEDOR
    ),
    src AS (
        SELECT
            operacion       = 'ALMACENAJE',
            entidad_evento  = 'MOV_ALMACENAJE',
            entidad_id      = a.ID,  -- MOV_ALMACENAJE.ID

            -- Timestamp del evento (cierre de la operación RF)
            evento_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHAH_FIN, 111) + ' ' + SUBSTRING(a.FECHAH_FIN, 12, 8))),

            inicio_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHAH_INICIO, 111) + ' ' + SUBSTRING(a.FECHAH_INICIO, 12, 8))),

            fin_dt    = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHAH_FIN, 111) + ' ' + SUBSTRING(a.FECHAH_FIN, 12, 8))),

            usuario_id = c.ID,
            legajo     = c.UNIDAD,
            operario   = c.DESCRIPCION,

            -- Evento de almacenaje (1 por pallet/movimiento)
            cantidad = CAST(1 AS decimal(18,4)),
            uom_id   = NULL,
            uom_text = 'PALLET',

            -- Artículo (solo si el pallet es monoartículo; si no, MULTIARTICULO)
            articulo_id   = CASE WHEN cont.cnt_articulos = 1 THEN art.ID ELSE NULL END,
            sku           = CASE WHEN cont.cnt_articulos = 1 THEN art.CODE_ERP ELSE 'MULTIARTICULO' END,
            articulo_desc = CASE WHEN cont.cnt_articulos = 1 THEN art.DESCRIPCION ELSE 'MULTIARTICULO' END,

            ubic_origen_id  = b.ID_UBIC_ORIGEN,
            ubic_destino_id = b.ID_UBIC_DESTINO,

            sector_id   = h.ID,
            sector_desc = h.DESCRIPCION,

            pedido_id   = NULL,
            despacho_id = NULL,
            linea_id    = NULL,

            -- Contenedor de tiempo / agrupación
            operacion_rf_id = a.ID,
            agrupacion_id   = b.ID_CONTENEDOR,

            movimientos = 1,
            lineas      = 1
        FROM OPERACIONES_RF a
        JOIN MOV_ALMACENAJE b    ON a.ID = b.ID_OPERACION
        JOIN USUARIOS c          ON a.ID_USUARIO = c.ID
        JOIN cont                ON b.ID_CONTENEDOR = cont.ID_CONTENEDOR
        LEFT JOIN ARTICULOS art  ON cont.articulo_id_unico = art.ID
        JOIN UBICALMACENES g     ON b.ID_UBIC_DESTINO = g.ID
        JOIN SECTORES h          ON g.ID_SECTOR = h.ID
        WHERE a.ESTADO = 2
    )
    INSERT INTO bi.fact_operacion_evento (
        operacion, entidad_evento, entidad_id,
        evento_dt, fecha_operativa,
        inicio_dt, fin_dt,
        usuario_id, legajo, operario,
        cantidad, uom_id, uom_text,
        articulo_id, sku, articulo_desc,
        ubic_origen_id, ubic_destino_id,
        sector_id, sector_desc,
        pedido_id, despacho_id, linea_id,
        operacion_rf_id, agrupacion_id,
        movimientos, lineas
    )
    SELECT
        s.operacion, s.entidad_evento, s.entidad_id,
        s.evento_dt, CAST(s.evento_dt AS date),
        s.inicio_dt, s.fin_dt,
        s.usuario_id, s.legajo, s.operario,
        s.cantidad, s.uom_id, s.uom_text,
        s.articulo_id, s.sku, s.articulo_desc,
        s.ubic_origen_id, s.ubic_destino_id,
        s.sector_id, s.sector_desc,
        s.pedido_id, s.despacho_id, s.linea_id,
        s.operacion_rf_id, s.agrupacion_id,
        s.movimientos, s.lineas
    FROM src s
    WHERE s.evento_dt IS NOT NULL
      AND s.evento_dt >= @from_dt
      AND s.evento_dt <  @to_dt
      AND (s.fin_dt IS NULL OR s.inicio_dt IS NULL OR s.fin_dt >= s.inicio_dt)
      AND NOT EXISTS (
            SELECT 1
            FROM bi.fact_operacion_evento f
            WHERE f.operacion      = s.operacion
              AND f.entidad_evento = s.entidad_evento
              AND f.entidad_id     = s.entidad_id
      );

    SELECT @@ROWCOUNT AS inserted_rows;
END;

GO
/****** Object:  StoredProcedure [bi].[usp_load_fact_operacion_evento_crossdocking]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =====================================================================================
   SP: bi.usp_load_fact_operacion_evento_crossdocking
   Fuente: TRASPASOS (TIPO_TRASPASO = 1) + OPERACIONES_RF (ID_AGRUPACION = ID)
   Grano: 1 fila = 1 TRASPASO (TRASPASOS.ID)
   Idempotencia: (operacion, entidad_evento, entidad_id)
   Ventana: evento_dt (FECHA_REALIZADO) en [@from_date, @to_date)
   ===================================================================================== */
CREATE   PROCEDURE [bi].[usp_load_fact_operacion_evento_crossdocking]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH src AS (
        SELECT
            operacion       = 'CROSSDOCKING',
            entidad_evento  = 'TRASPASO',
            entidad_id      = a.ID,

            evento_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHA_REALIZADO, 111) + ' ' + SUBSTRING(a.FECHA_REALIZADO, 12, 8))),

            inicio_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), d.FECHAH_INICIO, 111) + ' ' + SUBSTRING(d.FECHAH_INICIO, 12, 8))),

            fin_dt    = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), d.FECHAH_FIN, 111) + ' ' + SUBSTRING(d.FECHAH_FIN, 12, 8))),

            usuario_id = b.ID,
            legajo     = b.UNIDAD,
            operario   = b.DESCRIPCION,

            cantidad = CAST(a.CANT_TRASPASADA AS decimal(18,4)),
            uom_id   = a.ID_FORMATO,
            uom_text = UPPER(LTRIM(RTRIM(e.NOMBRE_FORMATO))),

            articulo_id   = a.ID_ARTICULO,
            sku           = h.CODE_ERP,
            articulo_desc = h.DESCRIPCION,

            ubic_origen_id  = a.ID_UBIC_ORIGEN,
            ubic_destino_id = a.ID_UBIC_DESTINO,

            sector_id   = g.ID,               -- SECTORES.ID
            sector_desc = g.DESCRIPCION,

            pedido_id   = a.ID_PEDIDO,
            despacho_id = a.ID_DESPACHO,
            linea_id    = a.ID_LINEA_PEDIDO,

            operacion_rf_id = d.ID,
            agrupacion_id   = a.ID_AGRUPACION,

            movimientos = 1,
            lineas      = 1
        FROM TRASPASOS a
        JOIN USUARIOS b       ON a.NOMBRE_USUARIO = b.NOMBRE
        JOIN OPERACIONES_RF d ON a.ID_AGRUPACION = d.ID
        JOIN FORMATOS e       ON a.ID_FORMATO = e.ID
        JOIN SECCIONES f      ON a.ID_SECCION = f.ID
        JOIN SECTORES g       ON f.ID_SECTOR = g.ID
        JOIN ARTICULOS h      ON a.ID_ARTICULO = h.ID
        WHERE a.TIPO_TRASPASO = 1
          AND a.CANT_TRASPASADA > 0
          AND d.ESTADO = 2
    )
    INSERT INTO bi.fact_operacion_evento (
        operacion, entidad_evento, entidad_id,
        evento_dt, fecha_operativa,
        inicio_dt, fin_dt,
        usuario_id, legajo, operario,
        cantidad, uom_id, uom_text,
        articulo_id, sku, articulo_desc,
        ubic_origen_id, ubic_destino_id,
        sector_id, sector_desc,
        pedido_id, despacho_id, linea_id,
        operacion_rf_id, agrupacion_id,
        movimientos, lineas
    )
    SELECT
        s.operacion, s.entidad_evento, s.entidad_id,
        s.evento_dt, CAST(s.evento_dt AS date),
        s.inicio_dt, s.fin_dt,
        s.usuario_id, s.legajo, s.operario,
        s.cantidad, s.uom_id, s.uom_text,
        s.articulo_id, s.sku, s.articulo_desc,
        s.ubic_origen_id, s.ubic_destino_id,
        s.sector_id, s.sector_desc,
        s.pedido_id, s.despacho_id, s.linea_id,
        s.operacion_rf_id, s.agrupacion_id,
        s.movimientos, s.lineas
    FROM src s
    WHERE s.evento_dt IS NOT NULL
      AND s.evento_dt >= @from_dt
      AND s.evento_dt <  @to_dt
      AND NOT EXISTS (
            SELECT 1
            FROM bi.fact_operacion_evento f
            WHERE f.operacion      = s.operacion
              AND f.entidad_evento = s.entidad_evento
              AND f.entidad_id     = s.entidad_id
      );

    SELECT @@ROWCOUNT AS inserted_rows;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_fact_operacion_evento_extraccion]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =====================================================================================
   SP: bi.usp_load_fact_operacion_evento_extraccion
   Fuente: TRASPASOS (TIPO_TRASPASO = 2) + CONT_DESP_COMPL + MOV_EXTRACCION + OPERACIONES_RF
   Grano: 1 fila = 1 TRASPASO (TRASPASOS.ID)
   Idempotencia: (operacion, entidad_evento, entidad_id)
   Ventana: evento_dt (FECHA_REALIZADO) en [@from_date, @to_date)
   ===================================================================================== */
CREATE   PROCEDURE [bi].[usp_load_fact_operacion_evento_extraccion]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH src AS (
        SELECT
            operacion       = 'EXTRACCION',
            entidad_evento  = 'TRASPASO',
            entidad_id      = a.ID,

            evento_dt = TRY_CONVERT(datetime2(0),
                        (TRY_CONVERT(char(10), a.FECHA_REALIZADO, 111) + ' ' + SUBSTRING(a.FECHA_REALIZADO, 12, 8))),

            inicio_dt = TRY_CONVERT(datetime2(0),
                        (TRY_CONVERT(char(10), d.FECHAH_INICIO, 111) + ' ' + SUBSTRING(d.FECHAH_INICIO, 12, 8))),

            fin_dt    = TRY_CONVERT(datetime2(0),
                        (TRY_CONVERT(char(10), d.FECHAH_FIN, 111) + ' ' + SUBSTRING(d.FECHAH_FIN, 12, 8))),

            -- IMPORTANTE: si no matchea usuario, dejar NULL (no 0)
            usuario_id = b.ID,
            legajo     = b.UNIDAD,
            operario   = COALESCE(b.DESCRIPCION, a.NOMBRE_USUARIO),

            cantidad = CAST(a.CANT_TRASPASADA AS decimal(18,4)),
            uom_id   = a.ID_FORMATO,
            uom_text = UPPER(LTRIM(RTRIM(e.NOMBRE_FORMATO))),

            articulo_id   = a.ID_ARTICULO,
            sku           = h.CODE_ERP,
            articulo_desc = h.DESCRIPCION,

            ubic_origen_id  = a.ID_UBIC_ORIGEN,
            ubic_destino_id = a.ID_UBIC_DESTINO,

            sector_id   = g.ID,
            sector_desc = g.DESCRIPCION,

            pedido_id   = a.ID_PEDIDO,
            despacho_id = a.ID_DESPACHO,
            linea_id    = a.ID_LINEA_PEDIDO,

            operacion_rf_id = d.ID,
            agrupacion_id   = a.ID_AGRUPACION,

            movimientos = 1,
            lineas      = 1
        FROM TRASPASOS a
        JOIN CONT_DESP_COMPL c  ON a.ID_AGRUPACION = c.ID
        JOIN MOV_EXTRACCION z   ON c.ID = z.ID_CONT_COMPL
        JOIN OPERACIONES_RF d   ON z.ID_OPERACION = d.ID
        JOIN FORMATOS e         ON a.ID_FORMATO = e.ID
        JOIN ARTICULOS h        ON a.ID_ARTICULO = h.ID
        LEFT JOIN UBICALMACENES i ON a.ID_UBIC_ORIGEN = i.ID
        LEFT JOIN SECTORES g      ON i.ID_SECTOR = g.ID
        LEFT JOIN USUARIOS b      ON a.NOMBRE_USUARIO = b.NOMBRE
        WHERE a.TIPO_TRASPASO = 2
          AND a.CANT_TRASPASADA > 0
          AND d.ESTADO = 2
    )
    INSERT INTO bi.fact_operacion_evento (
        operacion, entidad_evento, entidad_id,
        evento_dt, fecha_operativa,
        inicio_dt, fin_dt,
        usuario_id, legajo, operario,
        cantidad, uom_id, uom_text,
        articulo_id, sku, articulo_desc,
        ubic_origen_id, ubic_destino_id,
        sector_id, sector_desc,
        pedido_id, despacho_id, linea_id,
        operacion_rf_id, agrupacion_id,
        movimientos, lineas
    )
    SELECT
        s.operacion, s.entidad_evento, s.entidad_id,
        s.evento_dt, CAST(s.evento_dt AS date),
        s.inicio_dt, s.fin_dt,
        s.usuario_id, s.legajo, s.operario,
        s.cantidad, s.uom_id, s.uom_text,
        s.articulo_id, s.sku, s.articulo_desc,
        s.ubic_origen_id, s.ubic_destino_id,
        s.sector_id, s.sector_desc,
        s.pedido_id, s.despacho_id, s.linea_id,
        s.operacion_rf_id, s.agrupacion_id,
        s.movimientos, s.lineas
    FROM src s
    WHERE s.evento_dt IS NOT NULL
      AND s.evento_dt >= @from_dt
      AND s.evento_dt <  @to_dt
      AND NOT EXISTS (
            SELECT 1
            FROM bi.fact_operacion_evento f
            WHERE f.operacion      = s.operacion
              AND f.entidad_evento = s.entidad_evento
              AND f.entidad_id     = s.entidad_id
      );

    SELECT @@ROWCOUNT AS inserted_rows;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_fact_operacion_evento_picking]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =====================================================================================
   SP: bi.usp_load_fact_operacion_evento_picking
   Objetivo: Cargar eventos de PICKING (TRASPASOS) a bi.fact_operacion_evento
   Grano: 1 fila = 1 TRASPASO (TRASPASOS.ID)
   Idempotencia: (operacion, entidad_evento, entidad_id) => no duplica si se recarga
   Filtro temporal: por evento_dt (TRASPASOS.FECHA_REALIZADO) dentro de [@from_date, @to_date)
   ===================================================================================== */
CREATE   PROCEDURE [bi].[usp_load_fact_operacion_evento_picking]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH src AS (
        SELECT
            operacion       = 'PICKING',
            entidad_evento  = 'TRASPASO',
            entidad_id      = a.ID,

            evento_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHA_REALIZADO, 111) + ' ' + SUBSTRING(a.FECHA_REALIZADO, 12, 8))),

            inicio_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), d.FECHAH_INICIO, 111) + ' ' + SUBSTRING(d.FECHAH_INICIO, 12, 8))),

            fin_dt    = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), d.FECHAH_FIN, 111) + ' ' + SUBSTRING(d.FECHAH_FIN, 12, 8))),

            usuario_id = b.ID,
            legajo     = b.UNIDAD,
            operario   = b.DESCRIPCION,

            cantidad = CAST(a.CANT_TRASPASADA AS decimal(18,4)),
            uom_id   = a.ID_FORMATO,
            uom_text = UPPER(LTRIM(RTRIM(e.NOMBRE_FORMATO))),

            articulo_id   = a.ID_ARTICULO,
            sku           = h.CODE_ERP,
            articulo_desc = h.DESCRIPCION,

            ubic_origen_id  = a.ID_UBIC_ORIGEN,
            ubic_destino_id = a.ID_UBIC_DESTINO,

            sector_id   = f.ID_SECTOR,
            sector_desc = g.DESCRIPCION,

            pedido_id   = a.ID_PEDIDO,
            despacho_id = a.ID_DESPACHO,
            linea_id    = a.ID_LINEA_PEDIDO,

            operacion_rf_id = d.ID,
            agrupacion_id   = a.ID_AGRUPACION,

            movimientos = 1,
            lineas      = 1
        FROM TRASPASOS a
        JOIN USUARIOS b        ON a.NOMBRE_USUARIO = b.NOMBRE
        JOIN CONT_DESP_PICK c  ON a.ID_AGRUPACION = c.ID
        JOIN OPERACIONES_RF d  ON c.ID_RECORRIDO = d.ID
        JOIN FORMATOS e        ON a.ID_FORMATO = e.ID
        JOIN UBICALMACENES f   ON a.ID_UBIC_ORIGEN = f.ID
        JOIN SECTORES g        ON f.ID_SECTOR = g.ID
        JOIN ARTICULOS h       ON a.ID_ARTICULO = h.ID
        WHERE a.TIPO_TRASPASO = 0
          AND a.CANT_TRASPASADA > 0
          AND d.ESTADO = 2
    )
    INSERT INTO bi.fact_operacion_evento (
        operacion, entidad_evento, entidad_id,
        evento_dt, fecha_operativa,
        inicio_dt, fin_dt,
        usuario_id, legajo, operario,
        cantidad, uom_id, uom_text,
        articulo_id, sku, articulo_desc,
        ubic_origen_id, ubic_destino_id,
        sector_id, sector_desc,
        pedido_id, despacho_id, linea_id,
        operacion_rf_id, agrupacion_id,
        movimientos, lineas
    )
    SELECT
        s.operacion, s.entidad_evento, s.entidad_id,
        s.evento_dt, CAST(s.evento_dt AS date),
        s.inicio_dt, s.fin_dt,
        s.usuario_id, s.legajo, s.operario,
        s.cantidad, s.uom_id, s.uom_text,
        s.articulo_id, s.sku, s.articulo_desc,
        s.ubic_origen_id, s.ubic_destino_id,
        s.sector_id, s.sector_desc,
        s.pedido_id, s.despacho_id, s.linea_id,
        s.operacion_rf_id, s.agrupacion_id,
        s.movimientos, s.lineas
    FROM src s
    WHERE s.evento_dt IS NOT NULL
      AND s.evento_dt >= @from_dt
      AND s.evento_dt <  @to_dt
      AND NOT EXISTS (
            SELECT 1
            FROM bi.fact_operacion_evento f
            WHERE f.operacion      = s.operacion
              AND f.entidad_evento = s.entidad_evento
              AND f.entidad_id     = s.entidad_id
      );

    -- Output informativo (filas insertadas)
    SELECT @@ROWCOUNT AS inserted_rows;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_fact_operacion_evento_recepcion]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [bi].[usp_load_fact_operacion_evento_recepcion]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH cont AS (
        -- 1 fila por contenedor: detecta mono vs multiartículo
        SELECT
            d.ID_CONTENEDOR,
            cnt_articulos = COUNT(DISTINCT e.ID_ARTICULO),
            articulo_id_unico = MIN(e.ID_ARTICULO)
        FROM UL_MAYOR_MERCADER d
        JOIN ART_CONT_MERCADER e ON d.ID = e.ID_UL_MAYOR
        GROUP BY d.ID_CONTENEDOR
    ),
    base AS (
        -- Relación recepción -> contenedores (puede multiplicar: se agrega en agg)
        SELECT
            recep_id        = a.ID,       -- OPERACION_RF_RECEP.ID
            operacion_rf_id = b.ID,       -- OPERACIONES_RF.ID
            b.FECHAH_INICIO,
            b.FECHAH_FIN,
            b.ID_USUARIO,
            f.ID_CONTENEDOR
        FROM OPERACION_RF_RECEP a
        JOIN OPERACIONES_RF b      ON a.ID = b.ID
        JOIN MISIONES c            ON a.ID_MISION = c.ID
        JOIN AVISOS_MERCADERIA d   ON c.ID_CAMION = d.ID_CAMION
        JOIN ART_CONT_MERCADER e   ON d.ID = e.ID_MERCADERIA
        JOIN UL_MAYOR_MERCADER f   ON e.ID_UL_MAYOR = f.ID
        WHERE b.ESTADO = 2
    ),
    agg AS (
        -- 1 fila por recepción: pallets = COUNT DISTINCT contenedores
        SELECT
            recep_id,
            operacion_rf_id,
            FECHAH_INICIO = MAX(FECHAH_INICIO),
            FECHAH_FIN    = MAX(FECHAH_FIN),
            ID_USUARIO    = MAX(ID_USUARIO),

            pallets = COUNT(DISTINCT ID_CONTENEDOR),
            contenedor_id_unico = MIN(ID_CONTENEDOR)  -- solo válido si pallets=1
        FROM base
        GROUP BY recep_id, operacion_rf_id
    ),
    src AS (
        SELECT
            operacion      = 'RECEPCION',
            entidad_evento = 'OPERACION_RF_RECEP',
            entidad_id     = a.recep_id,

            evento_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHAH_FIN, 111) + ' ' + SUBSTRING(a.FECHAH_FIN, 12, 8))),

            inicio_dt = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHAH_INICIO, 111) + ' ' + SUBSTRING(a.FECHAH_INICIO, 12, 8))),

            fin_dt    = TRY_CONVERT(datetime2(0),
                      (TRY_CONVERT(char(10), a.FECHAH_FIN, 111) + ' ' + SUBSTRING(a.FECHAH_FIN, 12, 8))),

            usuario_id = u.ID,
            legajo     = u.UNIDAD,
            operario   = u.DESCRIPCION,

            -- Métrica: pallets recibidos en esa recepción
            cantidad = CAST(a.pallets AS decimal(18,4)),
            uom_id   = NULL,
            uom_text = 'PALLET',

            -- Si hay 1 contenedor, podemos clasificar mono vs multiartículo.
            -- Si hay >1 contenedor, marcamos MULTICONTENEDOR (no mentimos).
            articulo_id = CASE
                WHEN a.pallets = 1 AND c2.cnt_articulos = 1 THEN art.ID
                ELSE NULL
            END,
            sku = CASE
                WHEN a.pallets = 1 AND c2.cnt_articulos = 1 THEN art.CODE_ERP
                WHEN a.pallets = 1 AND c2.cnt_articulos > 1 THEN 'MULTIARTICULO'
                ELSE 'MULTICONTENEDOR'
            END,
            articulo_desc = CASE
                WHEN a.pallets = 1 AND c2.cnt_articulos = 1 THEN art.DESCRIPCION
                WHEN a.pallets = 1 AND c2.cnt_articulos > 1 THEN 'MULTIARTICULO'
                ELSE 'MULTICONTENEDOR'
            END,

            ubic_origen_id  = NULL,
            ubic_destino_id = NULL,
            sector_id       = NULL,
            sector_desc     = NULL,

            pedido_id   = NULL,
            despacho_id = NULL,
            linea_id    = NULL,

            operacion_rf_id = a.operacion_rf_id,
            agrupacion_id   = CASE WHEN a.pallets = 1 THEN a.contenedor_id_unico ELSE NULL END,

            movimientos = 1,
            lineas      = 1
        FROM agg a
        JOIN USUARIOS u         ON a.ID_USUARIO = u.ID
        LEFT JOIN cont c2       ON a.contenedor_id_unico = c2.ID_CONTENEDOR
        LEFT JOIN ARTICULOS art ON c2.articulo_id_unico = art.ID
    )
    INSERT INTO bi.fact_operacion_evento (
        operacion, entidad_evento, entidad_id,
        evento_dt, fecha_operativa,
        inicio_dt, fin_dt,
        usuario_id, legajo, operario,
        cantidad, uom_id, uom_text,
        articulo_id, sku, articulo_desc,
        ubic_origen_id, ubic_destino_id,
        sector_id, sector_desc,
        pedido_id, despacho_id, linea_id,
        operacion_rf_id, agrupacion_id,
        movimientos, lineas
    )
    SELECT
        s.operacion, s.entidad_evento, s.entidad_id,
        s.evento_dt, CAST(s.evento_dt AS date),
        s.inicio_dt, s.fin_dt,
        s.usuario_id, s.legajo, s.operario,
        s.cantidad, s.uom_id, s.uom_text,
        s.articulo_id, s.sku, s.articulo_desc,
        s.ubic_origen_id, s.ubic_destino_id,
        s.sector_id, s.sector_desc,
        s.pedido_id, s.despacho_id, s.linea_id,
        s.operacion_rf_id, s.agrupacion_id,
        s.movimientos, s.lineas
    FROM src s
    WHERE s.evento_dt IS NOT NULL
      AND s.evento_dt >= @from_dt
      AND s.evento_dt <  @to_dt
      AND (s.fin_dt IS NULL OR s.inicio_dt IS NULL OR s.fin_dt >= s.inicio_dt)
      AND NOT EXISTS (
            SELECT 1
            FROM bi.fact_operacion_evento f
            WHERE f.operacion      = s.operacion
              AND f.entidad_evento = s.entidad_evento
              AND f.entidad_id     = s.entidad_id
      );

    SELECT @@ROWCOUNT AS inserted_rows;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_fact_operacion_evento_reposicion]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [bi].[usp_load_fact_operacion_evento_reposicion]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH src AS (
        SELECT
            operacion       = 'REPOSICION',
            entidad_evento  = 'MOV_REPOSICION',
            entidad_id      = a.ID_OPERACION,

            evento_dt = TRY_CONVERT(datetime2(0),
                        (TRY_CONVERT(char(10), b.FECHAH_FIN, 111) + ' ' + SUBSTRING(b.FECHAH_FIN, 12, 8))),

            inicio_dt = TRY_CONVERT(datetime2(0),
                        (TRY_CONVERT(char(10), b.FECHAH_INICIO, 111) + ' ' + SUBSTRING(b.FECHAH_INICIO, 12, 8))),

            fin_dt    = TRY_CONVERT(datetime2(0),
                        (TRY_CONVERT(char(10), b.FECHAH_FIN, 111) + ' ' + SUBSTRING(b.FECHAH_FIN, 12, 8))),

            usuario_id = c.ID,
            legajo     = c.UNIDAD,
            operario   = c.DESCRIPCION,

            cantidad = CAST(1 AS decimal(18,4)),
            uom_id   = a.ID_FORMATO_A_REPONER,
            uom_text = UPPER(LTRIM(RTRIM(d.NOMBRE_FORMATO))),

            articulo_id   = e.ID,
            sku           = e.CODE_ERP,
            articulo_desc = e.DESCRIPCION,

            ubic_origen_id  = a.ID_UBIC_ORIGEN,
            ubic_destino_id = a.ID_UBIC_DESTINO,

            sector_id   = g.ID,
            sector_desc = g.DESCRIPCION,

            pedido_id   = NULL,
            despacho_id = NULL,
            linea_id    = NULL,

            operacion_rf_id = b.ID,
            agrupacion_id   = a.ID_OPERACION,

            movimientos = 1,
            lineas      = 1
        FROM MOV_REPOSICION a
        JOIN OPERACIONES_RF b ON a.ID_OPERACION = b.ID
        JOIN USUARIOS c       ON b.ID_USUARIO = c.ID
        JOIN FORMATOS d       ON a.ID_FORMATO_A_REPONER = d.ID
        JOIN ARTICULOS e      ON d.ID_ARTICULO = e.ID
        JOIN UBICALMACENES f  ON a.ID_UBIC_DESTINO = f.ID
        JOIN SECTORES g       ON f.ID_SECTOR = g.ID
        WHERE b.ESTADO = 2
    )
    INSERT INTO bi.fact_operacion_evento (
        operacion, entidad_evento, entidad_id,
        evento_dt, fecha_operativa,
        inicio_dt, fin_dt,
        usuario_id, legajo, operario,
        cantidad, uom_id, uom_text,
        articulo_id, sku, articulo_desc,
        ubic_origen_id, ubic_destino_id,
        sector_id, sector_desc,
        pedido_id, despacho_id, linea_id,
        operacion_rf_id, agrupacion_id,
        movimientos, lineas
    )
    SELECT
        s.operacion, s.entidad_evento, s.entidad_id,
        s.evento_dt, CAST(s.evento_dt AS date),
        s.inicio_dt, s.fin_dt,
        s.usuario_id, s.legajo, s.operario,
        s.cantidad, s.uom_id, s.uom_text,
        s.articulo_id, s.sku, s.articulo_desc,
        s.ubic_origen_id, s.ubic_destino_id,
        s.sector_id, s.sector_desc,
        s.pedido_id, s.despacho_id, s.linea_id,
        s.operacion_rf_id, s.agrupacion_id,
        s.movimientos, s.lineas
    FROM src s
    WHERE s.evento_dt IS NOT NULL
      AND s.evento_dt >= @from_dt
      AND s.evento_dt <  @to_dt
      AND (s.fin_dt IS NULL OR s.inicio_dt IS NULL OR s.fin_dt >= s.inicio_dt)
      AND NOT EXISTS (
            SELECT 1
            FROM bi.fact_operacion_evento f
            WHERE f.operacion      = s.operacion
              AND f.entidad_evento = s.entidad_evento
              AND f.entidad_id     = s.entidad_id
      );

    SELECT @@ROWCOUNT AS inserted_rows;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_fulfillment_daily]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [bi].[usp_load_fulfillment_daily]
(
    @from_date date,              -- inclusive
    @to_date   date = NULL        -- exclusive; si NULL => @from_date + 1
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @to_date IS NULL
        SET @to_date = DATEADD(DAY, 1, @from_date);

    BEGIN TRAN;

    /* =========================
       0) Limpiar rango destino
       ========================= */
    DECLARE @from_key int = CONVERT(int, FORMAT(@from_date,'yyyyMMdd'));
    DECLARE @to_key   int = CONVERT(int, FORMAT(DATEADD(DAY,-1,@to_date),'yyyyMMdd'));

    DELETE FROM bi.fact_fulfillment_line_day
    WHERE date_key BETWEEN @from_key AND @to_key;

    /* =========================
       1) Parse fecha generación robusto
       (soporta varchar 'yyyy/mm/dd hh:mi:ss' o datetime)
       ========================= */
    IF OBJECT_ID('tempdb..#pedidos_det') IS NOT NULL DROP TABLE #pedidos_det;

    SELECT
        e.CODIGO                           AS centro_codigo,
        e.NOMBRE                           AS centro_nombre,

        a.ID                               AS id_pedido,
        a.CODIGO_PEDIDO                    AS codigo_pedido,

        -- Intento 1: convertir directo (si es datetime real o string compatible)
        -- Intento 2: armar 'yyyy/mm/dd hh:mi:ss' con style 111 + substring
        CAST(
            COALESCE(
                TRY_CONVERT(datetime2(0), a.FECHAH_GENERACION),
                TRY_CONVERT(datetime2(0),
                    (TRY_CONVERT(char(10), a.FECHAH_GENERACION, 111) + ' ' + SUBSTRING(CONVERT(varchar(30), a.FECHAH_GENERACION), 12, 8))
                )
            ) AS date
        )                                   AS fecha_generacion,

        a.REFERENCIA                       AS referencia,
        a.TIPO_PEDIDO                      AS tipo_pedido,

        b.ID_ARTICULO                      AS id_articulo,
        c.CODE_ERP                          AS sku,
        c.DESCRIPCION                      AS articulo_desc,

        d.NOMBRE_FORMATO                   AS formato,
        sum(CAST(b.NUM_UNIDADES_FORM AS decimal(18,4))) AS qty_solicitada
    INTO #pedidos_det
    FROM PEDIDOS a
    JOIN ART_CONT_PEDIDO b ON a.ID = b.ID_PEDIDO
    JOIN ARTICULOS c       ON b.ID_ARTICULO = c.ID
    JOIN FORMATOS d        ON b.ID_FORMATO = d.ID
    JOIN CENTROS e         ON a.ID_LOCAL = e.ID
    WHERE a.TIPO_PEDIDO NOT IN (10)
      AND CAST(
            COALESCE(
                TRY_CONVERT(datetime2(0), a.FECHAH_GENERACION),
                TRY_CONVERT(datetime2(0),
                    (TRY_CONVERT(char(10), a.FECHAH_GENERACION, 111) + ' ' + SUBSTRING(CONVERT(varchar(30), a.FECHAH_GENERACION), 12, 8))
                )
            ) AS date
          ) >= @from_date
      AND CAST(
            COALESCE(
                TRY_CONVERT(datetime2(0), a.FECHAH_GENERACION),
                TRY_CONVERT(datetime2(0),
                    (TRY_CONVERT(char(10), a.FECHAH_GENERACION, 111) + ' ' + SUBSTRING(CONVERT(varchar(30), a.FECHAH_GENERACION), 12, 8))
                )
            ) AS date
          ) < @to_date
    group by
                e.CODIGO,
        e.NOMBRE,

        a.ID,
        a.CODIGO_PEDIDO,

        -- Intento 1: convertir directo (si es datetime real o string compatible)
        -- Intento 2: armar 'yyyy/mm/dd hh:mi:ss' con style 111 + substring
        CAST(
            COALESCE(
                TRY_CONVERT(datetime2(0), a.FECHAH_GENERACION),
                TRY_CONVERT(datetime2(0),
                    (TRY_CONVERT(char(10), a.FECHAH_GENERACION, 111) + ' ' + SUBSTRING(CONVERT(varchar(30), a.FECHAH_GENERACION), 12, 8))
                )
            ) AS date
        ),

        a.REFERENCIA,
        a.TIPO_PEDIDO,

        b.ID_ARTICULO,
        c.CODE_ERP,
        c.DESCRIPCION ,

        d.NOMBRE_FORMATO

    CREATE INDEX IX__pedidos_det__pedido ON #pedidos_det(codigo_pedido) INCLUDE (id_articulo, formato, qty_solicitada, centro_codigo);

    /* =========================
       2) Expedido agregado SOLO para esos pedidos
       (si hay múltiples avisos, se suma y se cuenta avisos)
       ========================= */
    IF OBJECT_ID('tempdb..#expedido_agg') IS NOT NULL DROP TABLE #expedido_agg;

    SELECT
        a.COD_OC_PE_DE                      AS codigo_pedido,
        b.ID_ARTICULO                       AS id_articulo,
        c.NOMBRE_FORMATO                    AS formato,
        CAST(SUM(b.NUM_UNIDADES_FORM) AS decimal(18,4)) AS qty_expedida,
        COUNT(DISTINCT a.COD_AVISO_ENTREGA) AS avisos_count,
        MIN(a.COD_AVISO_ENTREGA)            AS aviso_ejemplo
    INTO #expedido_agg
    FROM AVISOS_MERCADERIA a
    JOIN ART_CONT_MERCADER b ON a.ID = b.ID_MERCADERIA
    JOIN FORMATOS c          ON b.ID_FORMATO = c.ID
    WHERE EXISTS (
        SELECT 1
        FROM #pedidos_det p
        WHERE p.codigo_pedido = a.COD_OC_PE_DE
    )
    GROUP BY
        a.COD_OC_PE_DE,
        b.ID_ARTICULO,
        c.NOMBRE_FORMATO;

    CREATE INDEX IX__expedido_agg__key ON #expedido_agg(codigo_pedido, id_articulo, formato);

    /* =========================
       3) Insert destino (grain: día-centro-pedido-articulo-formato)
       ========================= */
    INSERT INTO bi.fact_fulfillment_line_day
    (
        date_key,
        centro_codigo, centro_nombre,
        codigo_pedido, id_pedido, referencia, tipo_pedido,
        id_articulo, sku, articulo_desc,
        formato,
        qty_solicitada, qty_expedida,
        avisos_count, aviso_ejemplo
    )
    SELECT
        CONVERT(int, FORMAT(p.fecha_generacion,'yyyyMMdd')) AS date_key,

        p.centro_codigo,
        p.centro_nombre,

        p.codigo_pedido,
        p.id_pedido,
        p.referencia,
        p.tipo_pedido,

        p.id_articulo,
        p.sku,
        p.articulo_desc,

        p.formato,

        p.qty_solicitada,
        ISNULL(e.qty_expedida, CONVERT(decimal(18,4),0)) AS qty_expedida,

        ISNULL(e.avisos_count, 0) AS avisos_count,
        e.aviso_ejemplo
    FROM #pedidos_det p
    LEFT JOIN #expedido_agg e
      ON e.codigo_pedido = p.codigo_pedido
     AND e.id_articulo   = p.id_articulo
     AND e.formato       = p.formato;

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_oc_item]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [bi].[usp_load_oc_item]
(
    @from_date date,
    @to_date   date = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @to_date IS NULL
        SET @to_date = DATEADD(DAY, 1, @from_date);

    DECLARE @from_key int = CONVERT(int, FORMAT(@from_date,'yyyyMMdd'));
    DECLARE @to_key   int = CONVERT(int, FORMAT(DATEADD(DAY,-1,@to_date),'yyyyMMdd'));

    BEGIN TRAN;

    DELETE FROM bi.fact_oc_item
    WHERE date_key BETWEEN @from_key AND @to_key;

    INSERT INTO bi.fact_oc_item
    (
        date_key,
        oc_codigo, id_orden_entrada, id_oc_item, id_articulo,
        sku, codigo_comercial, articulo_desc,
        proveedor_nombre, tipo_orden_entrada,
        ux_b, unidades_ordenadas
    )
    SELECT
        CONVERT(int, FORMAT(CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHA,10) + ' ' + SUBSTRING(a.FECHA,12,8), 111) AS date),'yyyyMMdd')) AS date_key,

        CONVERT(varchar(100), a.id_orden_compra) AS oc_codigo,
        a.id AS id_orden_entrada,
        b.id AS id_oc_item,
        b.ID_ARTICULO AS id_articulo,

        c.CODE_ERP AS sku,
        c.CODE_PRESENTACION AS codigo_comercial,
        c.DESCRIPCION AS articulo_desc,

        d.NOMBRE AS proveedor_nombre,
        e.DESCRIPCION AS tipo_orden_entrada,

        CAST(f.CANT_FORM_BASE AS decimal(18,4)) AS ux_b,
        CAST(b.NUM_UNIDADES AS decimal(18,4)) AS unidades_ordenadas
    FROM ORDENES_ENTRADA a
    JOIN ART_CONT_OE b ON a.id = b.ID_MAESTRO
    JOIN ARTICULOS c   ON b.ID_ARTICULO = c.ID
    JOIN CENTROS d     ON a.ID_ORIGEN = d.ID
    JOIN TIPOS_ORDENES_ENTRADA e ON a.TIPO_EXTERNO = e.ID
    JOIN Formatos f    ON c.id = f.ID_ARTICULO AND f.NOMBRE_FORMATO = 'CAJA'
    WHERE CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHA,10) + ' ' + SUBSTRING(a.FECHA,12,8), 111) AS date) >= @from_date
      AND CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHA,10) + ' ' + SUBSTRING(a.FECHA,12,8), 111) AS date) <  @to_date;

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_orquestador]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [bi].[usp_load_orquestador]
as
exec bi.usp_load_fact_operacion_evento_crossdocking '2025-01-01', '2025-12-01'
exec bi.usp_load_fact_operacion_evento_picking '2025-01-01', '2025-12-01'
exec bi.usp_load_fact_operacion_evento_extraccion '2025-01-01', '2025-12-01'
exec bi.usp_load_fact_operacion_evento_reposicion '2025-01-01', '2025-12-01'
exec bi.usp_load_fact_operacion_evento_almacenaje '2025-01-01', '2025-12-01'
exec bi.usp_load_fact_operacion_evento_recepcion '2025-01-01', '2025-12-01'
exec bi.usp_load_recepcion_sku_day '2025-01-01', '2025-12-01'
exec bi.usp_load_carga_camion_dia '2025-01-01', '2025-12-31'

exec bi.usp_load_stock_sku_vigente
exec bi.usp_load_stock_contenedor_ubic_vigente 
GO
/****** Object:  StoredProcedure [bi].[usp_load_pick_daily]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [bi].[usp_load_pick_daily]
(
    @from_date date,              -- inclusive
    @to_date   date = NULL        -- exclusive; if NULL => @from_date + 1 day
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @to_date IS NULL
        SET @to_date = DATEADD(DAY, 1, @from_date);

    DECLARE @op_pick tinyint = 1;

    DECLARE @metric_lines   smallint = (SELECT metric_id FROM bi.dim_metric WHERE metric_code = 'LINES');
    DECLARE @metric_units   smallint = (SELECT metric_id FROM bi.dim_metric WHERE metric_code = 'UNITS');
    DECLARE @metric_bultos  smallint = (SELECT metric_id FROM bi.dim_metric WHERE metric_code = 'BULTOS');

    IF @metric_lines IS NULL OR @metric_units IS NULL OR @metric_bultos IS NULL
        THROW 50000, 'Missing metric(s) in bi.dim_metric. Ensure LINES/UNITS/BULTOS exist.', 1;

    BEGIN TRAN;

    /* ============================================================
       0) Materialize PICK filtered rows (temp table)
       Date format: 'yyyy/mm/dd hh:mi:ss'
       ============================================================ */
    IF OBJECT_ID('tempdb..#pick_filtered') IS NOT NULL DROP TABLE #pick_filtered;

    SELECT
        a.ID                AS traspaso_id,
        CAST(a.CANT_TRASPASADA AS decimal(18,4)) AS cant_traspasada,
        b.ID                AS usuario_id,
        c.ID                AS agrupacion_id,
        d.ID                AS rf_op_id,

        TRY_CONVERT(datetime2(0),
            (TRY_CONVERT(char(10), d.FECHAH_INICIO, 111) + ' ' + SUBSTRING(d.FECHAH_INICIO, 12, 8))
        ) AS inicio_dt,

        TRY_CONVERT(datetime2(0),
            (TRY_CONVERT(char(10), d.FECHAH_FIN, 111) + ' ' + SUBSTRING(d.FECHAH_FIN, 12, 8))
        ) AS fin_dt,

        UPPER(LTRIM(RTRIM(e.NOMBRE_FORMATO))) AS uom_text
    INTO #pick_filtered
    FROM TRASPASOS a
    JOIN USUARIOS b        ON a.NOMBRE_USUARIO = b.NOMBRE
    JOIN CONT_DESP_PICK c  ON a.ID_AGRUPACION = c.ID
    JOIN OPERACIONES_RF d  ON c.ID_RECORRIDO = d.ID
    JOIN FORMATOS e        ON a.ID_FORMATO = e.ID
    WHERE a.TIPO_TRASPASO = 0
      AND d.ESTADO = 2
      AND TRY_CONVERT(datetime2(0),
            (TRY_CONVERT(char(10), d.FECHAH_FIN, 111) + ' ' + SUBSTRING(d.FECHAH_FIN, 12, 8))
          ) >= CAST(@from_date AS datetime2(0))
      AND TRY_CONVERT(datetime2(0),
            (TRY_CONVERT(char(10), d.FECHAH_FIN, 111) + ' ' + SUBSTRING(d.FECHAH_FIN, 12, 8))
          ) <  CAST(@to_date   AS datetime2(0));

    -- Helpful indexes
    CREATE INDEX IX__pick_filtered__key ON #pick_filtered(rf_op_id, usuario_id) INCLUDE (inicio_dt, fin_dt, agrupacion_id);
    CREATE INDEX IX__pick_filtered__traspaso ON #pick_filtered(rf_op_id, usuario_id, traspaso_id);
    CREATE INDEX IX__pick_filtered__uom ON #pick_filtered(rf_op_id, usuario_id, uom_text) INCLUDE (cant_traspasada);

    /* ============================================================
       1) FACT TASK: one row per (rf_op_id, usuario_id)
       task_id_source = rf_op_id + '_' + usuario_id
       ============================================================ */
    ;WITH src_task AS
    (
        SELECT
            CAST(rf_op_id AS varchar(64)) + '_' + CAST(usuario_id AS varchar(64)) AS task_id_source,
            @op_pick                                       AS operation_type_id,
            CAST(usuario_id AS varchar(64))                AS user_id_source,

            CAST(NULL AS varchar(64))                      AS site_id_source,
            CAST(NULL AS varchar(64))                      AS zone_id_source,

            CAST(MIN(agrupacion_id) AS varchar(64))        AS work_unit_id,
            CAST(NULL AS varchar(64))                      AS wave_id,

            MIN(inicio_dt)                                 AS start_ts,
            MAX(fin_dt)                                    AS end_ts,
            CASE
              WHEN MIN(inicio_dt) IS NULL OR MAX(fin_dt) IS NULL THEN NULL
              WHEN MAX(fin_dt) < MIN(inicio_dt) THEN NULL
              ELSE DATEDIFF(SECOND, MIN(inicio_dt), MAX(fin_dt))
            END AS duration_sec,

            'COMPLETED'                                    AS status_code,
            CONVERT(int, FORMAT(MAX(fin_dt), 'yyyyMMdd'))   AS date_key,
            'NA'                                           AS shift_code,
            'WMS'                                          AS source_system
        FROM #pick_filtered
        WHERE fin_dt IS NOT NULL
        GROUP BY rf_op_id, usuario_id
    )
    MERGE bi.fact_operation_task AS tgt
    USING src_task AS s
    ON  tgt.task_id_source = s.task_id_source
    AND tgt.operation_type_id = s.operation_type_id
    WHEN MATCHED THEN
      UPDATE SET
        tgt.user_id_source = s.user_id_source,
        tgt.site_id_source = s.site_id_source,
        tgt.zone_id_source = s.zone_id_source,
        tgt.work_unit_id   = s.work_unit_id,
        tgt.wave_id        = s.wave_id,
        tgt.start_ts       = s.start_ts,
        tgt.end_ts         = s.end_ts,
        tgt.duration_sec   = s.duration_sec,
        tgt.status_code    = s.status_code,
        tgt.date_key       = s.date_key,
        tgt.shift_code     = s.shift_code,
        tgt.source_system  = s.source_system
    WHEN NOT MATCHED THEN
      INSERT
      (
        task_id_source, operation_type_id,
        user_id_source, site_id_source, zone_id_source,
        work_unit_id, wave_id,
        start_ts, end_ts, duration_sec,
        status_code, date_key, shift_code, source_system
      )
      VALUES
      (
        s.task_id_source, s.operation_type_id,
        s.user_id_source, s.site_id_source, s.zone_id_source,
        s.work_unit_id, s.wave_id,
        s.start_ts, s.end_ts, s.duration_sec,
        s.status_code, s.date_key, s.shift_code, s.source_system
      );

    /* ============================================================
       2) FACT METRICS
          - LINES: distinct TRASPASOS.ID per (rf_op_id, usuario_id)
          - QTY: sum(CANT_TRASPASADA) by UOM mapping:
               UNIDAD => UNITS
               CAJA   => BULTOS
               PACK   => BULTOS
       ============================================================ */

    IF OBJECT_ID('tempdb..#m_lines') IS NOT NULL DROP TABLE #m_lines;
    IF OBJECT_ID('tempdb..#m_qty')   IS NOT NULL DROP TABLE #m_qty;

    -- 2.1 LINES
    SELECT
        ft.task_sk,
        @metric_lines AS metric_id,
        CAST(COUNT(DISTINCT f.traspaso_id) AS decimal(18,4)) AS metric_value,
        CAST('line' AS varchar(20)) AS uom
    INTO #m_lines
    FROM #pick_filtered f
    JOIN bi.fact_operation_task ft
      ON ft.task_id_source = CAST(f.rf_op_id AS varchar(64)) + '_' + CAST(f.usuario_id AS varchar(64))
     AND ft.operation_type_id = @op_pick
    GROUP BY ft.task_sk;

    CREATE UNIQUE CLUSTERED INDEX CIX__m_lines ON #m_lines(task_sk, metric_id);

    -- 2.2 QTY by mapped metric (grouped so it produces max 1 row per task+metric)
    SELECT
        ft.task_sk,
        CASE
          WHEN f.uom_text = 'UNIDAD' THEN @metric_units
          WHEN f.uom_text IN ('CAJA','PACK') THEN @metric_bultos
          ELSE @metric_units
        END AS metric_id,
        CAST(SUM(ISNULL(f.cant_traspasada,0)) AS decimal(18,4)) AS metric_value,
        CAST(MAX(f.uom_text) AS varchar(20)) AS uom
    INTO #m_qty
    FROM #pick_filtered f
    JOIN bi.fact_operation_task ft
      ON ft.task_id_source = CAST(f.rf_op_id AS varchar(64)) + '_' + CAST(f.usuario_id AS varchar(64))
     AND ft.operation_type_id = @op_pick
    GROUP BY
        ft.task_sk,
        CASE
          WHEN f.uom_text = 'UNIDAD' THEN @metric_units
          WHEN f.uom_text IN ('CAJA','PACK') THEN @metric_bultos
          ELSE @metric_units
        END;

    CREATE UNIQUE CLUSTERED INDEX CIX__m_qty ON #m_qty(task_sk, metric_id);

    -- Upsert LINES
    MERGE bi.fact_operation_metric AS tgt
    USING #m_lines AS s
    ON  tgt.task_sk = s.task_sk
    AND tgt.metric_id = s.metric_id
    WHEN MATCHED THEN
      UPDATE SET tgt.metric_value = s.metric_value, tgt.uom = s.uom
    WHEN NOT MATCHED THEN
      INSERT (task_sk, metric_id, metric_value, uom)
      VALUES (s.task_sk, s.metric_id, s.metric_value, s.uom);

    -- Upsert QTY
    MERGE bi.fact_operation_metric AS tgt
    USING #m_qty AS s
    ON  tgt.task_sk = s.task_sk
    AND tgt.metric_id = s.metric_id
    WHEN MATCHED THEN
      UPDATE SET tgt.metric_value = s.metric_value, tgt.uom = s.uom
    WHEN NOT MATCHED THEN
      INSERT (task_sk, metric_id, metric_value, uom)
      VALUES (s.task_sk, s.metric_id, s.metric_value, s.uom);

    /* ============================================================
       3) AGG DAILY (PICK) - Primary KPI = LINES/H
       ============================================================ */

    DECLARE @from_key int = CONVERT(int, FORMAT(@from_date,'yyyyMMdd'));
    DECLARE @to_key   int = CONVERT(int, FORMAT(DATEADD(DAY,-1,@to_date),'yyyyMMdd'));

    ;WITH task_base AS
    (
        SELECT
          ft.date_key,
          ISNULL(ft.shift_code,'NA')        AS shift_code,
          ft.operation_type_id,
          ft.user_id_source,
          'ALL'                              AS zone_id_source,
          'MAIN'                             AS site_id_source,
          ft.task_sk,
          ISNULL(ft.duration_sec,0)          AS duration_sec
        FROM bi.fact_operation_task ft
        WHERE ft.operation_type_id = @op_pick
          AND ft.date_key BETWEEN @from_key AND @to_key
          AND ft.status_code = 'COMPLETED'
    ),
    metric_roll AS
    (
        SELECT
          tb.date_key, tb.shift_code, tb.operation_type_id, tb.user_id_source, tb.zone_id_source, tb.site_id_source,
          COUNT(DISTINCT tb.task_sk) AS tasks_completed,
          SUM(tb.duration_sec)       AS work_seconds,
          SUM(CASE WHEN dm.metric_code='LINES'  THEN fom.metric_value END) AS qty_lines,
          SUM(CASE WHEN dm.metric_code='UNITS'  THEN fom.metric_value END) AS qty_units,
          SUM(CASE WHEN dm.metric_code='BULTOS' THEN fom.metric_value END) AS qty_bultos
        FROM task_base tb
        LEFT JOIN bi.fact_operation_metric fom ON fom.task_sk = tb.task_sk
        LEFT JOIN bi.dim_metric dm             ON dm.metric_id = fom.metric_id
        GROUP BY tb.date_key, tb.shift_code, tb.operation_type_id, tb.user_id_source, tb.zone_id_source, tb.site_id_source
    ),
    final AS
    (
        SELECT
          date_key, shift_code, operation_type_id, user_id_source, zone_id_source, site_id_source,
          tasks_completed, work_seconds,
          qty_lines,
          qty_units,
          qty_bultos,
          CAST(NULL AS decimal(18,4)) AS qty_docs,
          CAST(NULL AS decimal(18,4)) AS qty_loc,
          CAST(NULL AS decimal(18,4)) AS qty_pallets,
          CAST(NULL AS decimal(18,4)) AS qty_mov,
          CAST('LINES' AS varchar(20)) AS primary_metric_code,
          qty_lines AS primary_qty,
          CASE
            WHEN work_seconds > 0 AND qty_lines IS NOT NULL
              THEN qty_lines / (work_seconds / 3600.0)
          END AS primary_per_hour
        FROM metric_roll
    )
    MERGE bi.agg_operation_user_day AS tgt
    USING final AS s
    ON  tgt.date_key = s.date_key
    AND tgt.operation_type_id = s.operation_type_id
    AND tgt.user_id_source = s.user_id_source
    AND tgt.shift_code = s.shift_code
    AND tgt.zone_id_source = s.zone_id_source
    AND tgt.site_id_source = s.site_id_source
    WHEN MATCHED THEN
      UPDATE SET
        tgt.tasks_completed = s.tasks_completed,
        tgt.work_seconds    = s.work_seconds,
        tgt.qty_lines       = s.qty_lines,
        tgt.qty_units       = s.qty_units,
        tgt.qty_bultos      = s.qty_bultos,
        tgt.qty_docs        = s.qty_docs,
        tgt.qty_loc         = s.qty_loc,
        tgt.qty_pallets     = s.qty_pallets,
        tgt.qty_mov         = s.qty_mov,
        tgt.primary_metric_code = s.primary_metric_code,
        tgt.primary_qty     = s.primary_qty,
        tgt.primary_per_hour= s.primary_per_hour,
        tgt.refreshed_at    = SYSUTCDATETIME()
    WHEN NOT MATCHED THEN
      INSERT
      (
        date_key, shift_code, operation_type_id, user_id_source, zone_id_source, site_id_source,
        tasks_completed, work_seconds,
        qty_lines, qty_units, qty_bultos, qty_docs, qty_loc, qty_pallets, qty_mov,
        primary_metric_code, primary_qty, primary_per_hour
      )
      VALUES
      (
        s.date_key, s.shift_code, s.operation_type_id, s.user_id_source, s.zone_id_source, s.site_id_source,
        s.tasks_completed, s.work_seconds,
        s.qty_lines, s.qty_units, s.qty_bultos, s.qty_docs, s.qty_loc, s.qty_pallets, s.qty_mov,
        s.primary_metric_code, s.primary_qty, s.primary_per_hour
      );

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_receipt_item_day]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [bi].[usp_load_receipt_item_day]
(
    @from_date date,
    @to_date   date = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    IF @to_date IS NULL
        SET @to_date = DATEADD(DAY, 1, @from_date);

    DECLARE @from_key int = CONVERT(int, FORMAT(@from_date,'yyyyMMdd'));
    DECLARE @to_key   int = CONVERT(int, FORMAT(DATEADD(DAY,-1,@to_date),'yyyyMMdd'));

    BEGIN TRAN;

    DELETE FROM bi.fact_receipt_item_day
    WHERE date_key BETWEEN @from_key AND @to_key;

    INSERT INTO bi.fact_receipt_item_day
    (
        date_key,
        id_orden_entrada,
        id_oc_item,
        unidades_recibidas
    )
    SELECT
        CONVERT(int, FORMAT(CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHAH_RECEPCION,10) + ' ' + SUBSTRING(a.FECHAH_RECEPCION,12,8), 111) AS date),'yyyyMMdd')) AS date_key,

        a.ID_ORDEN_ENTRADA AS id_orden_entrada,
        b.ID_ART_CONT_OE   AS id_oc_item,
        CAST(SUM(b.NUM_UNIDADES) AS decimal(18,4)) AS unidades_recibidas
    FROM ORDENES_ENTRAD_REC a
    JOIN ART_CONT_OE_REC b ON a.id = b.ID_MAESTRO
    WHERE CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHAH_RECEPCION,10) + ' ' + SUBSTRING(a.FECHAH_RECEPCION,12,8), 111) AS date) >= @from_date
      AND CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHAH_RECEPCION,10) + ' ' + SUBSTRING(a.FECHAH_RECEPCION,12,8), 111) AS date) <  @to_date
    GROUP BY
        a.ID_ORDEN_ENTRADA,
        b.ID_ART_CONT_OE,
        CAST(TRY_CONVERT(datetime2(0),
            LEFT(a.FECHAH_RECEPCION,10) + ' ' + SUBSTRING(a.FECHAH_RECEPCION,12,8), 111) AS date);

    COMMIT TRAN;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_receiving_daily]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [bi].[usp_load_receiving_daily]
(
    @run_date date,
    @rebuild_status bit = 1
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @to_date date = DATEADD(DAY, 1, @run_date);

    BEGIN TRY
        BEGIN TRAN;

        -- 1) OC items creadas ese día
        EXEC bi.usp_load_oc_item
            @from_date = @run_date,
            @to_date   = @to_date;

        -- 2) Recepciones ocurridas ese día
        EXEC bi.usp_load_receipt_item_day
            @from_date = @run_date,
            @to_date   = @to_date;

        -- 3) Status agregado
        IF @rebuild_status = 1
            EXEC bi.usp_build_oc_item_status;

        COMMIT TRAN;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;

        DECLARE @msg nvarchar(2048) = CONCAT(
            'bi.usp_load_receiving_daily failed. run_date=', CONVERT(varchar(10), @run_date, 120),
            ' | ', ERROR_MESSAGE()
        );
        THROW 50001, @msg, 1;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_recepcion_sku_day]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [bi].[usp_load_recepcion_sku_day]
    @from_date date,
    @to_date   date
AS
BEGIN
    SET NOCOUNT ON;

    IF @from_date IS NULL OR @to_date IS NULL OR @to_date <= @from_date
    BEGIN
        RAISERROR('Rango de fechas inválido. Use @from_date < @to_date (rango semiabierto).', 16, 1);
        RETURN;
    END;

    DECLARE @from_dt datetime2(0) = CAST(@from_date AS datetime2(0));
    DECLARE @to_dt   datetime2(0) = CAST(@to_date   AS datetime2(0));

    ;WITH base AS
    (
        SELECT
            a.ID                                  AS recepcion_id,
            b.ID_ARTICULO                         AS articulo_id,

            d.ID                                  AS oc_id,
            d.ID_ORDEN_COMPRA                     AS orden_compra,

            e.ID                                  AS proveedor_id,
            e.NOMBRE                              AS proveedor,

            f.ID                                  AS mercaderia_id,
            cam.ID                                AS camion_id,
            g.ID                                  AS descarga_id,
            g.ID_MISION                           AS mision_id,

            TRY_CONVERT(datetime2(0), a.FECHAH_RECEPCION, 120) AS fechah_recepcion_dt,

            c.CODE_ERP                            AS sku,
            c.DESCRIPCION                         AS articulo_desc,

            CAST(b.NUM_UNIDADES AS decimal(18,4)) AS cantidad_unidades,

            fmt.CANT_FORM_BASE                    AS cant_form_base,

            uls.pallets                           AS pallets,

            rf.inicio_dt                          AS inicio_dt,
            fn.fin_dt                             AS fin_dt,

            cam.FECHAH_ENTRADA                    AS camion_entrada_dt,
            cam.FECHAH_SALIDA                     AS camion_salida_dt,

            ISNULL(sec.seccion_desc, 'Revisar')   AS seccion_desc,
            ISNULL(sector.sector_desc, 'Revisar') AS sector_desc
        FROM dbo.ORDENES_ENTRAD_REC a
        JOIN dbo.ART_CONT_OE_REC   b   ON a.ID = b.ID_MAESTRO
        JOIN dbo.ARTICULOS         c   ON b.ID_ARTICULO = c.ID
        JOIN dbo.ORDENES_ENTRADA   d   ON a.ID_ORDEN_ENTRADA = d.ID
        JOIN dbo.CENTROS           e   ON d.ID_ORIGEN = e.ID
        JOIN dbo.AVISOS_MERCADERIA f   ON a.ID = f.ID_OC_RECIBIDA
        JOIN dbo.DESCARGAS_MAESTRO g   ON a.ID_DESCARGA = g.ID
        JOIN dbo.CAMIONES          cam ON f.ID_CAMION = cam.ID

        OUTER APPLY (
            SELECT TOP (1) form.CANT_FORM_BASE
            FROM dbo.FORMATOS form
            WHERE form.ID_ARTICULO = b.ID_ARTICULO
              AND form.CODE_FORMATO = 'C'
        ) fmt

        OUTER APPLY (
            SELECT COUNT(DISTINCT ul.ETIQUETA) AS pallets
            FROM dbo.ART_CONT_MERCADER acm
            JOIN dbo.UL_MAYOR_MERCADER ul ON acm.ID_UL_MAYOR = ul.ID
            WHERE acm.ID_MERCADERIA = f.ID
              AND acm.ID_ARTICULO   = b.ID_ARTICULO
        ) uls

        OUTER APPLY (
            SELECT MIN(op.FECHAH_CREACION) AS inicio_dt
            FROM dbo.OPERACION_RF_RECEP rfr
            JOIN dbo.OPERACIONES_RF     op ON rfr.ID = op.ID
            WHERE rfr.ID_MISION = g.ID_MISION
        ) rf

        OUTER APPLY (
            SELECT MAX(op.FECHAH_FIN) AS fin_dt
            FROM dbo.MOV_RECEP_FISICA_GC mov
            JOIN dbo.OPERACIONES_RF      op ON mov.ID_OPERACION = op.ID
            WHERE mov.ID_DESCARGA = g.ID
        ) fn

        -- Sección predominante (misión de ID menor) + su ID_SECTOR
        OUTER APPLY (
            SELECT TOP (1)
                s.NOMBRE     AS seccion_desc,
                s.ID         AS seccion_id,
                s.ID_SECTOR  AS sector_id
            FROM dbo.MISIONES m
            JOIN dbo.SECCIONES s ON m.ID_SECCION_PREDOM = s.ID
            WHERE m.ID_CAMION = cam.ID
            ORDER BY m.ID ASC
        ) sec

        -- Sector por sec.ID_SECTOR (sin re-join a MISIONES)
        OUTER APPLY (
            SELECT
                sect.NOMBRE + ' - ' + sect.DESCRIPCION  AS sector_desc
            FROM dbo.SECTORES sect
            WHERE sect.ID = sec.sector_id
        ) sector
    ),
    src AS
    (
        SELECT
            recepcion_id,
            articulo_id,

            MAX(oc_id)              AS oc_id,
            MAX(orden_compra)       AS orden_compra,
            MAX(proveedor_id)       AS proveedor_id,
            MAX(proveedor)          AS proveedor,
            MAX(mercaderia_id)      AS mercaderia_id,
            MAX(camion_id)          AS camion_id,
            MAX(descarga_id)        AS descarga_id,
            MAX(mision_id)          AS mision_id,

            MAX(fechah_recepcion_dt) AS fechah_recepcion_dt,
            CAST(MAX(fechah_recepcion_dt) AS date) AS fecha_operativa,

            MAX(sku)                AS sku,
            MAX(articulo_desc)      AS articulo_desc,

            SUM(cantidad_unidades)  AS cantidad_unidades,

            CEILING(
                SUM(cantidad_unidades) /
                NULLIF(CAST(MAX(cant_form_base) AS decimal(18,4)), 0)
            )                       AS cantidad_cajas,

            MAX(pallets)            AS pallets,
            MAX(inicio_dt)          AS inicio_dt,
            MAX(fin_dt)             AS fin_dt,
            MAX(camion_entrada_dt)  AS camion_entrada_dt,
            MAX(camion_salida_dt)   AS camion_salida_dt,
            MAX(seccion_desc)       AS seccion_desc,
            MAX(sector_desc)        AS sector_desc
        FROM base
        WHERE fechah_recepcion_dt IS NOT NULL
          AND fechah_recepcion_dt >= @from_dt
          AND fechah_recepcion_dt <  @to_dt
        GROUP BY recepcion_id, articulo_id
    )
    INSERT INTO bi.fact_recepcion_sku
    (
        recepcion_id,
        articulo_id,
        oc_id,
        orden_compra,
        proveedor_id,
        proveedor,
        mercaderia_id,
        camion_id,
        descarga_id,
        mision_id,
        fechah_recepcion_dt,
        fecha_operativa,
        sku,
        articulo_desc,
        cantidad_unidades,
        cantidad_cajas,
        pallets,
        inicio_dt,
        fin_dt,
        camion_entrada_dt,
        camion_salida_dt,
        seccion_desc,
        sector_desc
    )
    SELECT
        s.recepcion_id,
        s.articulo_id,
        s.oc_id,
        s.orden_compra,
        s.proveedor_id,
        s.proveedor,
        s.mercaderia_id,
        s.camion_id,
        s.descarga_id,
        s.mision_id,
        s.fechah_recepcion_dt,
        s.fecha_operativa,
        s.sku,
        s.articulo_desc,
        s.cantidad_unidades,
        s.cantidad_cajas,
        s.pallets,
        s.inicio_dt,
        s.fin_dt,
        s.camion_entrada_dt,
        s.camion_salida_dt,
        s.seccion_desc,
        s.sector_desc
    FROM src s
    WHERE NOT EXISTS
    (
        SELECT 1
        FROM bi.fact_recepcion_sku f
        WHERE f.recepcion_id = s.recepcion_id
          AND f.articulo_id  = s.articulo_id
    );

    SELECT @@ROWCOUNT AS inserted_rows;
END;
GO
/****** Object:  StoredProcedure [bi].[usp_load_stock_contenedor_ubic_vigente]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* =========================================================
   SP de carga (foto vigente): TRUNCATE + INSERT
   - Devuelve filas afectadas
   - EsPallet: match tolerante PALET/PALLET en TipoContenedor/Envase
   - FueraDeAlmacenaje: heurística por Tipo_Ubicacion / TipoCanal
     (ajustable a la lista real de canales operativos)
   ========================================================= */

CREATE   PROCEDURE [bi].[usp_load_stock_contenedor_ubic_vigente]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @snapshot_dt     datetime2(0) = sysdatetime();
    DECLARE @fecha_operativa date         = CAST(@snapshot_dt AS date);

    TRUNCATE TABLE bi.fact_stock_contenedor_ubic_vigente;

    ;WITH
        CTERec AS (
            SELECT
                a.id        AS IdOERec,
                c.NOMBRE    AS Proveedor
            FROM ORDENES_ENTRAD_REC a
            JOIN ORDENES_ENTRADA b
                ON b.id = a.ID_ORDEN_ENTRADA
            JOIN CENTROS c
                ON c.ID = b.ID_ORIGEN
        ),
        CTEProv AS (
            SELECT
                a.ID_ARTICULO,
                c.NOMBRE AS Proveedor
            FROM PROVEEDOR_ARTICULO a
            JOIN CENTROS c
                ON a.ID_PROVEEDOR = c.ID
            WHERE a.ES_PRINCIPAL = 1
        ),
        XMLData AS (
            SELECT CAST(
                '<x>' +
                REPLACE(
                    (SELECT valor
                     FROM PARAMETROS
                     WHERE grupo = 'UBICACIONES'
                       AND param = 'TIPOS'),
                    '|',
                    '</x><x>'
                ) +
                '</x>' AS XML
            ) AS Data
        ),
        Tipos AS (
            SELECT
                ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS idparametro,
                T.C.value('.', 'varchar(100)') AS descripcion
            FROM XMLData
            CROSS APPLY Data.nodes('/x') AS T(C)
        ),
        XMLDataCanales AS (
            SELECT CAST(
                '<x>' +
                REPLACE(
                    (SELECT valor
                     FROM PARAMETROS
                     WHERE grupo = 'CANALES'
                       AND param = 'TIPOS'),
                    '|',
                    '</x><x>'
                ) +
                '</x>' AS XML
            ) AS Data
        ),
        TiposCanales AS (
            SELECT
                ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) - 1 AS idparametro,
                T.C.value('.', 'varchar(100)') AS descripcion
            FROM XMLDataCanales
            CROSS APPLY Data.nodes('/x') AS T(C)
        )
    INSERT INTO bi.fact_stock_contenedor_ubic_vigente
    (
        snapshot_dt,
        fecha_operativa,
        TipoContenedor,
        TipoContenedorArticulo,
        EsPallet,
        FueraDeAlmacenaje,
        Etiqueta,
        SKU,
        Articulo,
        Formato,
        Unidades_Formato,
        Cantidad_Base,
        Cantidad_Total_Unidades,
        Proveedor,
        FechaRecepcion,
        FechaVencimiento,
        Bloqueo_Contenedor,
        Bloqueo_Ubicacion,
        Ubicacion_Bloqueada,
        Tipo_Ubicacion,
        Seccion,
        Sector,
        TipoCanal
    )
    SELECT
        @snapshot_dt                                   AS snapshot_dt,
        @fecha_operativa                               AS fecha_operativa,

        COALESCE(tc.DESCRIPCION, 'SIN TIPO CONTENEDOR')   AS TipoContenedor,
        COALESCE(art.DESCRIPCION, 'SIN ENVASE ASOCIADO')  AS TipoContenedorArticulo,

        /* EsPallet: tolera PALET / PALLET en tipo/envase */
        CAST(
            CASE
                WHEN UPPER(COALESCE(tc.DESCRIPCION,''))  LIKE '%PALET%'  OR UPPER(COALESCE(tc.DESCRIPCION,''))  LIKE '%PALLET%'
                  OR UPPER(COALESCE(art.DESCRIPCION,'')) LIKE '%PALET%'  OR UPPER(COALESCE(art.DESCRIPCION,'')) LIKE '%PALLET%'
                THEN 1 ELSE 0
            END
        AS bit)                                        AS EsPallet,

        /* FueraDeAlmacenaje: heurística por canal (TIPO_UBIC_ACTUAL 0/1) */
        CAST(
            CASE
                WHEN a.TIPO_UBIC_ACTUAL IN (0,1) THEN 1
                WHEN a.TIPO_UBIC_ACTUAL = 2 THEN 0
                ELSE 0
            END
        AS bit)                                        AS FueraDeAlmacenaje,

        a.ETIQUETA                                     AS Etiqueta,
        c.CODE_ERP                                     AS SKU,
        c.DESCRIPCION                                  AS Articulo,
        d.NOMBRE_FORMATO                               AS Formato,
        b.NUM_UNIDADES_FORM                            AS Unidades_Formato,
        d.CANT_FORM_BASE                               AS Cantidad_Base,
        CAST(b.num_unidades_form AS bigint)
        * CAST(d.CANT_FORM_BASE AS bigint)             AS Cantidad_Total_Unidades,

        CASE
            WHEN e.Proveedor IS NOT NULL THEN e.Proveedor
            WHEN f.Proveedor IS NOT NULL THEN f.Proveedor
            ELSE 'Desconocido'
        END                                            AS Proveedor,

        TRY_CAST(a.FECHAH_RECEPCION AS date)           AS FechaRecepcion,
        TRY_CAST(b.FECHA_VENCIMIENTO AS date)          AS FechaVencimiento,

        CAST(ISNULL(a.bloqueo, 0) AS bit)              AS Bloqueo_Contenedor,

        CAST(
            CASE
                WHEN a.TIPO_UBIC_ACTUAL = 2 THEN ISNULL(g.bloqueo, 0)
                WHEN a.TIPO_UBIC_ACTUAL IN (0,1) THEN ISNULL(can.bloqueo, 0)
                ELSE NULL
            END
        AS bit)                                        AS Bloqueo_Ubicacion,

        CAST(
            CASE
                WHEN a.TIPO_UBIC_ACTUAL = 2 THEN ISNULL(g.bloqueo, 0)
                WHEN a.TIPO_UBIC_ACTUAL IN (0,1) THEN ISNULL(can.bloqueo, 0)
                ELSE 0
            END
        AS bit)                                        AS Ubicacion_Bloqueada,

        z.descripcion                                  AS Tipo_Ubicacion,
        h.DESCRIPCION                                  AS Seccion,
        i.DESCRIPCION                                  AS Sector,
        tcan.descripcion                               AS TipoCanal
    FROM CONTENEDORES a
    /* FIX: LEFT JOIN para no filtrar masivamente */
    LEFT JOIN TIPOS_CONTENEDOR tc
        ON a.ID_TIPO_CONTENEDOR = tc.ID
    LEFT JOIN ARTICULOS art
        ON tc.ID_ENVASE = art.ID
    JOIN ART_CONT_CONT b
        ON a.id = b.ID_CONTENEDOR
    JOIN ARTICULOS c
        ON c.ID = b.ID_ARTICULO
    JOIN FORMATOS d
        ON d.ID = b.ID_FORMATO
    JOIN Tipos z
        ON a.TIPO_UBIC_ACTUAL = z.idparametro
    LEFT JOIN CTERec e
        ON e.IdOERec = b.ID_OE_REC
    LEFT JOIN CTEProv f
        ON f.ID_ARTICULO = b.ID_ARTICULO
    LEFT JOIN UBICALMACENES g
        ON g.ID = a.ID_UBIC_ACTUAL
       AND a.TIPO_UBIC_ACTUAL = 2
    LEFT JOIN SECCIONES h
        ON h.id = g.ID_SECCION
    LEFT JOIN SECTORES i
        ON g.ID_SECTOR = i.ID
    LEFT JOIN CANALES can
        ON a.ID_UBIC_ACTUAL = can.id
       AND a.TIPO_UBIC_ACTUAL IN (0,1)
    LEFT JOIN TiposCanales tcan
        ON can.TIPO_CANAL = tcan.idparametro;

    SELECT @@ROWCOUNT AS filas_afectadas;
END
GO
/****** Object:  StoredProcedure [bi].[usp_load_stock_sku_vigente]    Script Date: 4/3/2026 11:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [bi].[usp_load_stock_sku_vigente]
    @days int = 30
AS
BEGIN
    SET NOCOUNT ON;

    IF @days IS NULL OR @days <= 0
    BEGIN
        RAISERROR('@days inválido. Debe ser > 0.', 16, 1);
        RETURN;
    END;

    DECLARE @cutoff_dt datetime2(0);

    SELECT @cutoff_dt = '2025-10-02' /*MAX(x.dt)
    FROM dbo.AVISOS_MERCADERIA am
    CROSS APPLY (SELECT dt = TRY_CONVERT(datetime2(0), am.FECHA_HORA, 120)) x
    WHERE x.dt IS NOT NULL
      AND am.TIPO_AV = 1;  -- mismo criterio que DPD*/

    IF @cutoff_dt IS NULL
    BEGIN
      RAISERROR('No hay datos válidos en AVISOS_MERCADERIA para TIPO_AV=1.', 16, 1);
      RETURN;
    END;

    DECLARE @snapshot_dt datetime2(0) = sysdatetime();
    DECLARE @fecha_operativa date = CAST(@cutoff_dt AS date);

    DECLARE @from_dt datetime2(0) = DATEADD(day, -@days, @cutoff_dt);
    DECLARE @to_dt   datetime2(0) = @cutoff_dt;

    TRUNCATE TABLE bi.fact_stock_sku_vigente;

    ;WITH stock_estado AS
    (
        SELECT
            b.ID_ARTICULO AS articulo_id,
            estado = CASE
                WHEN a.TIPO_OPERACION <> 0 OR a.ID_OPERACION IS NOT NULL THEN 'RESERVADO'
                WHEN a.BLOQUEO = 1 THEN 'BLOQUEADO'
                ELSE 'DISPONIBLE'
            END,
            stock_base = SUM(
                CAST(b.NUM_UNIDADES_FORM AS decimal(18,4)) *
                CAST(fm.CANT_FORM_BASE    AS decimal(18,4))
            )
        FROM dbo.contenedores a
        JOIN dbo.art_cont_cont b ON a.id = b.id_contenedor
        JOIN dbo.FORMATOS fm     ON b.id_formato = fm.id
        GROUP BY
            b.ID_ARTICULO,
            CASE
                WHEN a.TIPO_OPERACION <> 0 OR a.ID_OPERACION IS NOT NULL THEN 'RESERVADO'
                WHEN a.BLOQUEO = 1 THEN 'BLOQUEADO'
                ELSE 'DISPONIBLE'
            END
    ),
    stock_articulo AS
    (
        SELECT
            articulo_id,
            stock_disponible_base = SUM(CASE WHEN estado='DISPONIBLE' THEN stock_base ELSE 0 END),
            stock_reservado_base  = SUM(CASE WHEN estado='RESERVADO'  THEN stock_base ELSE 0 END),
            stock_bloqueado_base  = SUM(CASE WHEN estado='BLOQUEADO'  THEN stock_base ELSE 0 END),
            stock_total_base      = SUM(stock_base)
        FROM stock_estado
        GROUP BY articulo_id
    ),

    /* ========= DPD (consumo promedio diario sobre días calendario) ========= */
    dpd_daily AS
    (
        SELECT
            b.ID_ARTICULO AS articulo_id,
            fecha = CAST(x.dt AS date),
            consumo_base_dia = SUM(
                CAST(b.NUM_UNIDADES_FORM AS decimal(18,4)) *
                CAST(fm.CANT_FORM_BASE    AS decimal(18,4))
            )
        FROM dbo.AVISOS_MERCADERIA am
        CROSS APPLY (SELECT dt = TRY_CONVERT(datetime2(0), am.FECHA_HORA, 120)) x
        JOIN dbo.ART_CONT_MERCADER b
          ON b.ID_MERCADERIA = am.ID     -- ✅ FK confirmada: ART_CONT_MERCADER.ID_MERCADERIA = AVISOS_MERCADERIA.ID
        JOIN dbo.FORMATOS fm
          ON b.ID_FORMATO = fm.ID
        WHERE am.TIPO_AV = 1
          AND x.dt IS NOT NULL
          AND x.dt >= @from_dt
          AND x.dt <  @to_dt
        GROUP BY b.ID_ARTICULO, CAST(x.dt AS date)
    ),
    dpd_articulo AS
    (
        SELECT
            articulo_id,
            dpd_base_30d = SUM(consumo_base_dia) / NULLIF(@days,0)
        FROM dpd_daily
        GROUP BY articulo_id
    ),

    /* ========= Último movimiento (según FECHA_HORA del aviso) ========= */
    last_move AS
    (
        SELECT
            acm.ID_ARTICULO AS articulo_id,
            last_move_dt = MAX(x.dt)
        FROM dbo.AVISOS_MERCADERIA am
        CROSS APPLY (SELECT dt = TRY_CONVERT(datetime2(0), am.FECHA_HORA, 120)) x
        JOIN dbo.ART_CONT_MERCADER acm
          ON acm.ID_MERCADERIA = am.ID
        WHERE x.dt IS NOT NULL
        GROUP BY acm.ID_ARTICULO
    )

    INSERT INTO bi.fact_stock_sku_vigente
    (
        snapshot_dt,
        fecha_operativa,
        articulo_id,
        sku,
        articulo_desc,
        stock_total_base,
        stock_disponible_base,
        stock_reservado_base,
        stock_bloqueado_base,
        dpd_base_30d,
        dias_stock_disponible,
        last_move_dt
    )
    SELECT
        @snapshot_dt,
        @fecha_operativa,
        s.articulo_id,
        a.CODE_ERP,
        a.DESCRIPCION,
        s.stock_total_base,
        s.stock_disponible_base,
        s.stock_reservado_base,
        s.stock_bloqueado_base,

        /* DPD: si no hubo consumo en ventana, queda 0 (más claro para reporting) */
        dpd_base_30d = ISNULL(d.dpd_base_30d, 0),

        /* Días de stock: NULL cuando DPD=0 para evitar “0 días” engañosos */
        dias_stock_disponible = CASE
            WHEN ISNULL(d.dpd_base_30d, 0) = 0 THEN NULL
            ELSE s.stock_disponible_base / d.dpd_base_30d
        END,

        lm.last_move_dt
    FROM stock_articulo s
    JOIN dbo.ARTICULOS a
      ON a.ID = s.articulo_id
    LEFT JOIN dpd_articulo d
      ON d.articulo_id = s.articulo_id
    LEFT JOIN last_move lm
      ON lm.articulo_id = s.articulo_id;

    SELECT @@ROWCOUNT AS inserted_rows;
END
GO
